<section role="main"
  data-truncate="{{ truncatedList }}"
  data-filter-stations-by-track="{{ filterBy }}"
  data-uri="{{ default _ref _self }}"
  class="component component--stations-list{{ if @root.locals.edit ' editing' }}{{ if truncatedList ' stations-list--truncated' }}"
>
  <div class="stations-list__header-row">
    <h2 class="header-row__title">{{ listTitle }}</h2>
    {{#ifAll truncatedList (compare filterBy '!==' 'local') (compare filterBy '!==' 'recent') (compare stations.length '>' 5) }}
      <a class="header-row__see-all-link" href="//{{ @root.locals.site.host }}{{ seeAllLink }}">See all {{{ read 'components/stations-list/media/chevron_right.svg' }}}</a>
    {{/ifAll}}
  </div>
  <ul>
    {{~#if stations.length ~}}
      <pre class="stations-list__data">{{ stringify stations }}</pre>
      {{~#each stations ~}}
        {{#ifAll ../truncatedList (compare @index '<' 14) }}{{ set 'hideStations' true }}{{/ifAll}}
        {{#ifAny (compare ../truncatedList false) hideStations }}
          <li class="station">
            <a href="//{{ @root.locals.site.host }}/{{ id }}/listen">
              <div class="station__lede">
                <button class="lede__favorite-btn">{{{ read 'components/stations-list/media/favorite.svg' }}}</button>
                <img class="lede__image"
                  src="{{ square_logo_large }}?width=140&height=140&crop=1:1,offset-y0"
                  srcset="{{ square_logo_large }}?width=140&height=140&crop=1:1,offset-y0 140w,
                    {{ square_logo_large }}?width=222&height=222&crop=1:1,offset-y0 222w,
                    {{ square_logo_large }}?width=210&height=210&crop=1:1,offset-y0 210w,
                    {{ square_logo_large }}?width=150&height=150&crop=1:1,offset-y0 150w"
                  sizes="(max-width: 360px) 150px, (max-width: 480px) 210px, (max-width: 1023px) 222px, 140px"
                >
                <button class="lede__play-btn">{{{ read 'components/stations-list/media/play.svg' }}}</button>
              </div>
              <span class="station__name">{{ name }}</span>
              <span class="station__secondary-info">{{ slogan }}</span>
            </a>
          </li>
        {{/ifAny}}
      {{~/each~}}
    {{~/if~}}
  </ul>
  <div class="loader-container">
    {{{ read 'components/stations-list/media/radiocom-monogram-loader.svg' }}}
  </div>
  {{#ifAll truncatedList (compare filterBy '!==' 'local') (compare filterBy '!==' 'recent') (compare stations.length '>' 5) }}
    <button class="stations-list__load-more">{{{ read 'components/stations-list/media/loadmore_white.svg' }}} <span>Load more</span></button>
  {{/ifAll}}
</section>
