<section role="main" data-track-type="section" data-uri="{{ default _ref _self }}" class="component component--stations-list{{ if @root.locals.edit ' editing' }}">
  {{~#if stations.length ~}}
    <ul>
      {{~#each stations as |station| ~}}
        <li class="station">
          <a href="//{{ @root.locals.site.host }}/{{station.id}}/listen">
            <div class="station__lede">
              <button class="lede__favorite-btn"><img src=""></button>
              <img class="lede__image" src="">
              <buttom class="lede__play-btn"><img src=""></buttom>
            </div>
            <span class="station__name">{{ station.name }}</span>
            <span class="station__secondary-info">{{!-- {{ station.category }} {{ station.market_name }} or "info on what's playing" --}}</span>
          </a>
        </li>
      {{~/each~}}
    </ul>
  {{~/if~}}
</section>
