<nav class="radiocom-nav-placeholder" data-uri="{{ default _ref _self }}" data-editable="settings">
  <div class="radiocom-nav">
    <div class="container">
      <div id="hamburger" class="radiocom-nav__hamburger wrapper">
        <div class="bar bar-1"></div>
        <div class="bar bar-2"></div>
        <div class="bar bar-3"></div>
      </div>{{!--
      --}}<button class="radiocom-nav__logo"><a href="//{{ concat @root.locals.site.host @root.locals.site.path (default siteHomepage '') }}">
        {{{ read 'components/header/media/radiocom_hz.svg' }}}
      </a></button>{{!--
      --}}{{#if headerLinks.length}}
        {{#each headerLinks}}
          <div class="radiocom-nav__category-button radiocom-nav__category-button--{{text}} {{#if drawer}}radiocom-nav__category-button--drawer-enabled{{/if}}">
            <button>
              {{#if url}}
                <a href="{{url}}">
                  <h1>{{text}}</h1>
                </a>
              {{ else }}
                <h1>{{text}}</h1>
              {{/if}}
            </button>
            {{#if list.length}}
              <div class="nav-drawer nav-drawer--{{text}}">
                <div class="container">
                  {{#each list as |subnav| }}
                    <div class="nav-drawer__sub-nav">
                      {{#if subnav.list}}
                        <h2>{{subnav.text}}</h2>
                        <ul class="nav-drawer__sub-nav--columns">
                          {{#each subnav.list as |subnavLink| }}
                            <li>
                              <a href="{{subnavLink.url}}">
                                <h3 title="{{subnavLink.url}}">{{subnavLink.text}}</h3>
                              </a>
                            </li>
                          {{/each}}
                        </ul>
                      {{ else }}
                        {{#if subnav.url}}
                          <a href="{{subnav.url}}" target="_blank">
                            <h2 class="{{#if (compare subnav.text 'find a station')}}find-station-link{{/if}}">{{subnav.text}}{{#if (compare subnav.text 'find a station')}} <span>&#8227</span>{{/if}}</h2>
                          </a>
                        {{ else }}
                          <h2>{{subnav.text}}</h2>
                        {{/if}}
                      {{/if}}
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/if}}
          </div>
        {{/each}}
      {{/if}}{{!--
      --}}<div class="radiocom-nav__container--right">
        <button class="account-btn" id="account-btn">
          <div class="active default">{{{ read 'components/header/media/log-in.svg' }}}</div>
          <div class="inactive hover">{{{ read 'components/header/media/log-in_hover.svg' }}}</div>
        </button>{{!--
        --}}<button class="search-btn" id="search-btn">
          <div class="active default">{{{ read 'components/header/media/search.svg' }}}</div>
          <div class="inactive hover">{{{ read 'components/header/media/search_hover.svg' }}}</div>
        </button>
      </div>
      <div class="nav-drawer nav-drawer--mobile">
        {{#if headerLinks.length}}
          {{#each headerLinks}}
            <div class="nav-drawer__sub-nav nav-drawer__{{text}}">
              {{#if (compare text 'listen')}}
                <a href="{{url}}" target="_blank">
                  <h2>{{text}}</h2>
                </a>
              {{ else }}
                <h2>{{text}}</h2>
                {{#if list.length}}
                  <ul class="nav-drawer__sub-nav-links">
                    {{#each list as |subnav|}}
                      {{#each subnav.list as |link|}}
                        <li>
                          <a href="{{link.url}}">
                            <h3 title="{{link.url}}">{{link.text}}</h3>
                          </a>
                        </li>
                      {{/each}}
                    {{/each}}
                  </ul>
                {{/if}}
              {{/if}}
            </div>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</nav>
