{{#*inline "rulesBody"}}
    <div
        class="
            {{#if includeTitle}}contest-rules__rules-body-with-title{{/if}}
            paragraph
        "
        data-editable="rulesBodyText"
    >
        {{{ rulesBodyText }}}
    </div>
{{/inline}}

{{#*inline "defaultStyle"}}
    {{#if showHeader}}
        <div class="contest-rules--default-view">
            <h2 class="contest-rules__contest-headline">
                {{ headline }}
            </h2>
            <div class="contest-rules__date-range">
                <p class="paragraph">
                    Contest Date Range: {{ formatDateTimeRange startDateTime endDateTime (concat "MMMM D, YYYY [at] h:mma [" stationTimeZone "]") ' through ' }}
                </p>
            </div>
        </div>
    {{/if}}
    {{> rulesBody includeTitle=true }}
{{/inline}}

{{#*inline "presentationStyle"}}
    <div class="contest-rules--presentation-view">
        <div class="contest-rules__image-container">
            <img
                class="contest-rules__image"
                src="{{ feedImgUrl }}"
                alt="contest image"
            />
        </div>
        <div class="contest-rules__description-container">
            <h2 class="contest-rules__contest-headline">
              {{ headline }}
            </h2>
            <p class="paragraph">{{ description }}</p>
        </div>
    </div>
{{/inline}}

<div class="component component--contest-rules contest-rules">
    <a href="{{ contestSlug }}" class="contest-rules__link">
        {{#if showPresentation}}
            {{> presentationStyle}}
        {{else}}
            {{> defaultStyle}}
        {{/if}}
    </a>
</div>

