<section data-uri="{{ default _ref _self }}" class="component component--latest-videos{{ if @root.locals.edit ' editing' }}" data-editable="items">
  <h2><span>Radio.com Video</span></h2>
  <div class="latest-videos__videos">
    {{#each articles as |article|}}
      {{#if @first}}
        <div class="latest-videos__video {{#if @first}}latest-videos__video--main{{/if}} latest-videos__video--{{ article.sectionFront }}">
          <a href="{{ article.canonicalUrl }}"
             class="latest-videos__link"
             data-track-type="article-link"
             data-track-component-name="latest-videos"
             data-track-page-uri="{{ article.pageUri }}"
             data-track-headline="{{ article.primaryHeadline }}"
             data-track-component-title="Latest Videos">
            <span class="latest-videos__play-icon"></span>
            <img
              src="{{ article.feedImgUrl }}?width=780&crop=16:9,offset-y0"
              srcset="{{ article.feedImgUrl }}?width=706&crop=16:9,offset-y0 706w,
                {{ article.feedImgUrl }}?width=480&crop=16:9,offset-y0 480w"
              sizes="(max-width: 480px) 100vw, (max-width: 1023px) 80vw, 780px"
              class="latest-videos__image" />
          </a>
          <div class="latest-videos__details">
            {{#if @first }}
              <span class="details__exclusive">Exclusive Video</span>
            {{/if}}
            <h3 class="details__title">
              <a href="{{ article.canonicalUrl }}"
                 class="latest-videos__link"
                 data-track-type="article-link"
                 data-track-component-name="latest-videos"
                 data-track-page-uri="{{ article.pageUri }}"
                 data-track-headline="{{ article.primaryHeadline }}"
                 data-track-component-title="Latest Videos">{{ article.primaryHeadline }}</a>
            </h3>
          </div>
        </div>
      {{else}}
        {{#if (compare @index 1)}}
          <div class="latest-videos__rail">
        {{/if}}
        <div class="latest-videos__video latest-videos__video--news">
          <a href="{{ article.canonicalUrl }}"
             class="latest-videos__link"
             data-track-type="article-link"
             data-track-component-name="latest-videos"
             data-track-page-uri="{{ article.pageUri }}"
             data-track-headline="{{ article.primaryHeadline }}"
             data-track-component-title="Latest Videos">
            <span class="latest-videos__play-icon"></span>
            <img
              src="{{ article.feedImgUrl }}?width=220&crop=16:9,offset-y0"
              srcset="{{ article.feedImgUrl }}?width=480&crop=16:9,offset-y0 480w"
              sizes="(max-width: 480px) 91.5vw,  220px"
              class="latest-videos__image" />
          </a>
          <div class="latest-videos__details">
            <h3 class="details__title">
              <a href="{{ article.canonicalUrl }}"
                 class="latest-videos__link"
                 data-track-type="article-link"
                 data-track-component-name="latest-videos"
                 data-track-page-uri="{{ article.pageUri }}"
                 data-track-headline="{{ article.primaryHeadline }}"
                 data-track-component-title="Latest Videos">{{ article.primaryHeadline }}</a>
            </h3>
          </div>
        </div>
        {{#if @last}}
          </div>
        {{/if}}
      {{/if}}
    {{/each}}
  </div>
</section>
