{{#*inline "authorLinks" }}
  <div class="author-page-header__links-author-name">
    Follow {{ author }}:
  </div>
  <aside class="author-page-header__links">
    {{#each socialLinks}}
      <a target="_blank" href="{{ this.url }}" class="author-page-header__link author-page-header__link--{{ this.type }}" title="{{ this.title }}"
      aria-label="{{ this.title }}"></a>
    {{/each}}
  </aside>
{{/inline}}

<section data-uri="{{ default _ref _self }}"
  class="component component--author-page-header author-page-header"
  data-editable="settings">
  <div class="author-page-header__author-info-container">
    <div class="author-page-header__img-container">
      {{!-- TODO: ON-807: replace with actual component --}}
      {{#if profileImage }}
        <img src="{{ profileImage }}"
          alt="author" class="author-page-header__author-img">
      {{/if}}
    </div>
    <div class="author-page-header__text-container">
      <div class="author-page-header__name">{{ author }}</div>
      <div class="author-page-header__schedule">{{ scheduleTime }}</div>
      <div class="author-page-header__social-container">
        {{> authorLinks }} {{!-- TODO: ON-807: replace with actual component --}}
      </div>
    </div>
  </div>
  <div class="author-page-header__bio-text-container">
    <div class="author-page-header__social-container--md-sm-screen">
      {{> authorLinks }} {{!-- TODO: ON-807: replace with actual component --}}
    </div>
    <p class="author-page-header__bio-text">
      {{ bio }}
    </p>
  </div>
</section>
