{{#*inline "authorLinks" }}
  <div class="author-page-header__links-author-name">
    Follow {{ author }}:
  </div>
  <aside class="author-page-header__links">
    {{#each _computed.socialLinks}}
      <a target="_blank" href="{{ this.url }}" class="author-page-header__link author-page-header__link--{{ this.type }}" title="{{ this.title }}"
      aria-label="{{ this.title }}"></a>
    {{/each}}
  </aside>
{{/inline}}

<section data-uri="{{ default _ref _self }}"
  class="component component--author-page-header author-page-header"
  data-editable="settings">
  {{#if _computed.dynamic }}
    <div class="author-page-header__dynamic-container">
      <div class="author-page-header__line"></div>
      <h1 class="author-page-header__dynamic-name">{{ author }}</h1>
    </div>
  {{else}}
    <div class="author-page-header__left-content">
      <div class="author-page-header__author-info-container">
        <div class="author-page-header__img-container">
          {{#if profileImage }}
            <img src="{{ profileImage }}"
              alt="author" class="author-page-header__author-img">
          {{/if}}
        </div>
        <div class="author-page-header__text-container">
          <div class="author-page-header__name">{{ author }}</div>
          <div class="author-page-header__schedule">{{ scheduleTime }}</div>
          {{#if _computed.socialLinks.length }}
            <div class="author-page-header__social-container">
              {{> authorLinks }}
            </div>
          {{/if}}
        </div>
      </div>
      <div class="author-page-header__bio-text-container">
        {{#if _computed.socialLinks.length }}
          <div class="author-page-header__social-container--md-sm-screen">
            {{> authorLinks }}
          </div>
        {{/if}}
        <div class="author-page-header__bio-text paragraph">
          {{{ bio }}}
        </div>
      </div>
    </div>
    <div class="author-page-header__right-content"></div>
  {{/if}}
</section>
