<div class="tags" data-uri="{{ default _ref _self }}" data-editable="items">
  {{~#if items.length ~}}
    <ul class="tags-list">
      {{! visible tags }}
      {{! original nunjucks logic appears less verbose, moved some logic out of tag for clarity }}
      {{~#each items as |tag| ~}}
        {{~#unless tag.invisible ~}}
          {{ set 'encodedTag' (replace (urlencode (replace (trim (lowercase tag.text)) ' ' '-')) "%2F" "/") }}
          <li class="tags-list-item {{ tag.text }}">
            <a aria-label="More articles tagged" href="//{{ @root.locals.site.host }}/tags{{ if (compare @root.locals.site.path '/strategist') @root.locals.site.path }}/{{ encodedTag }}/"
              class="tags-link {{ tag.text }}"
              >{{ tag.text }}</a>
          </li>
        {{~/unless~}}
      {{~/each~}}
    </ul>
  {{~/if~}}
</div>
