<div class="component component--tags" data-uri="{{ default _ref _self }}" data-editable="items">
  {{~#if items.length ~}}
    <ul class="tags {{#if articleType}}tags--{{articleType}}{{/if}}">
      {{! visible tags }}
      {{! original nunjucks logic appears less verbose, moved some logic out of tag for clarity }}
      {{~#each items as |tag| ~}}
        {{~#unless tag.invisible ~}}
          {{ set 'encodedTag' (replace (replace (urlencode (replace (trim (lowercase tag.text)) ' ' '-')) "/" "%2F") "&" "%26") }}
          <li class="tags__item" data-tag="{{ replace (trim (lowercase tag.text)) ' ' '-' }}">
            <a aria-label="More articles tagged" href="//{{ @root.locals.site.host }}/topic{{ if (compare @root.locals.site.path '/strategist') @root.locals.site.path }}/{{ encodedTag }}"
              class="tags__link"
              >{{ tag.text }}</a>
          </li>
        {{~/unless~}}
      {{~/each~}}
    </ul>
  {{~/if~}}
</div>
