<div class="radiocom-footer" data-uri="{{ default _ref _self }}" data-editable="footer-settings">
	<div class="container">
		{{#if socialButtons.show}}
			<div class="radiocom-footer__social">
				{{#if socialButtons.buttons.facebook}}
					<a target="_blank" href="https://www.facebook.com/radiodotcom/">
						{{{ read 'components/footer/media/facebook.svg' }}}
					</a>
				{{/if}}
				{{#if socialButtons.buttons.twitter}}
					<a target="_blank" href="https://twitter.com/Radiodotcom?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
						{{{ read 'components/footer/media/twitter.svg' }}}
					</a>
				{{/if}}
				{{#if socialButtons.buttons.youtube}}
					<a target="_blank" href="https://www.youtube.com/user/radiodotcom">
						{{{ read 'components/footer/media/youtube.svg' }}}
					</a>
				{{/if}}
				{{#if socialButtons.buttons.instagram}}
					<a target="_blank" href="https://www.instagram.com/radiodotcom/">
						{{{ read 'components/footer/media/instagram.svg' }}}
					</a>
				{{/if}}
			</div>
		{{/if}}
		{{#if appBadges.show}}
			<div class="radiocom-footer__download-app">
				{{#if appBadges.buttons.app-store-badge}}
					<a class="apple-app-store" target="_blank" href="https://itunes.apple.com/us/app/radio-com/id323701765?mt=8">
						{{{ read 'components/footer/media/apple-app-store.svg' }}}
					</a>
				{{/if}}
				{{#if appBadges.buttons.google-play-badge}}
					<a class="google-play-badge" target="_blank" href="https://play.google.com/store/apps/details?id=com.radiocom&hl=en">
						{{{ read 'components/footer/media/google-play-badge.svg' }}}
					</a>
				{{/if}}
			</div>
		{{/if}}
		{{#if links}}
			{{#each links}}
				<div class="radiocom-footer__section radiocom-footer__{{text}}">
					<h2>{{text}}</h2>
					{{#if list}}
						{{#each list as |link|}}
							<a {{#if link.newtab}}target="_blank"{{/if}} href="{{link.url}}">{{link.text}}</a>
						{{/each}}
					{{/if}}
				</div>
			{{/each}}
		{{/if}}
		<span class="radiocom-footer__copyright">
			&copy Entercom {{ moment 'now' 'YYYY' }} <a target="_blank" href="www.radio.com">Radio.com</a>
		</span>
	</div>
</div>

</style>
