<div class="radiocom-footer" data-uri="{{ default _ref _self }}">
	<div class="container">
		{{#if socialButtonsShow}}
			<div class="radiocom-footer__social">
				{{#each socialButtonsURLs as |button|}}
					<a target="_blank" href="{{button.url}}">
						<object type="image/svg+xml" data="/media/components/footer/{{button.type}}.svg">
						  <img src="/media/components/footer/{{button.type}}.svg">
						</object>
					</a>
				{{/each}}
			</div>
		{{/if}}
		{{#if appBadgesShow}}
			<div class="radiocom-footer__download-app">
				{{#each appBadgesURLs as |badge|}}
					<a target="_blank" href="{{badge.url}}">
						<object type="image/svg+xml" data="/media/components/footer/{{badge.type.value}}.svg">
						  <img src="/media/components/footer/{{badge.type.value}}.svg">
						</object>
					</a>
				{{/each}}
			</div>
		{{/if}}
		{{#if links}}
			{{#each links}}
				<div class="radiocom-footer__section radiocom-footer__{{text}}">
					<h2>{{text}}</h2>
					{{#if list}}
						{{#each list as |link|}}
							<a {{#if link.newtab}}target="_blank"{{/if}} href="{{link.url}}">{{link.text}}</a>
						{{/each}}
					{{/if}}
				</div>
			{{/each}}
		{{/if}}
		<span class="radiocom-footer__copyright">
			&copy; {{ moment 'now' 'YYYY' }} Entercom Communications Corp. All rights reserved.
      Part of the <a target="_blank" href="www.radio.com">RADIO.COM</a>  Music Network.
		</span>
	</div>
</div>
