<aside data-uri="{{ default _ref _self }}" class="component component--share">
  <div class="share-list">
    {{#if enabled.facebook }}
      <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{ url }}%3Futm_source=fb%26utm_medium=s3%26utm_campaign=sharebutton-t" class="share-list__item facebook" title="Share on Facebook" aria-label="Share on Facebook"></a>
    {{/if}}

    {{#if enabled.twitter }}
      <a target="_blank" href="https://twitter.com/share?text={{#if shortTitle}}{{{ urlencode (striptags shortTitle) }}}{{else}}{{{ urlencode (striptags title) }}}{{/if}}&amp;url={{ url }}%3Futm_source=tw%26utm_medium=s3%26utm_campaign=sharebutton-t&amp;via={{ twitterHandle }}" class="share-list__item twitter" title="Share on Twitter" aria-label="Share on Twitter"></a>
    {{/if}}

    {{#if enabled.email }}
      <a href="mailto:?subject={{#if shortTitle}}{{{ urlencode (striptags shortTitle) }}}{{else}}{{{ urlencode (striptags title) }}}{{/if}}" class="share-list__item email" title="Email" aria-label="Email"></a>
    {{/if}}

    {{#if enabled.link }}
      <button class="share-list__item copy-link" title="Copy link" aria-label="Copy link"></button>
    {{/if}}
  </div>
</aside>