<aside data-uri="{{ default _ref _self }}" class="component component--share">
  {{#if enabled.facebook }}
    <a target="_blank" class="share-link share-link--facebook" title="Share on Facebook" aria-label="Share on Facebook"></a>
  {{/if}}

  {{#if enabled.twitter }}
    <a target="_blank" href="https://twitter.com/share?text={{#if shortTitle}}{{{ urlencode (striptags shortTitle) }}}{{else}}{{{ urlencode (striptags title) }}}{{/if}}&amp;url=%3Futm_source=tw%26utm_medium=s3%26utm_campaign=sharebutton-t&amp;via={{ twitterHandle }}" class="share-link share-link--twitter" title="Share on Twitter" aria-label="Share on Twitter"></a>
  {{/if}}

  {{#if enabled.email }}
    <a href="mailto:?subject={{#if shortTitle}}{{{ urlencode (striptags shortTitle) }}}{{else}}{{{ urlencode (striptags title) }}}{{/if}}" class="share-link share-link--email" title="Email" aria-label="Email"></a>
  {{/if}}

  {{#if enabled.link }}
    <button class="share-link share-link--copy-link" title="Copy link" aria-label="Copy link"></button>
  {{/if}}
</aside>
