<section class="component component--podcast-list" data-uri="{{ default _ref _self }}" data-track-type="podcast-list" data-editable="items">
  {{#each items as |item|}}
    <div class="podcast-list__item">
      <a class="podcast-list__link" href="{{ item.podcast.url }}">
        {{#if @first}}<div class="podcast-list__tag">Podcasts</div>{{/if}}
        <img
          src="{{ item.podcast.imageUrl }}?width=220&crop=1:1,smart"
          srcset="{{ item.podcast.imageUrl }}?width=150&crop=1:1 150w,
                  {{ item.podcast.imageUrl }}?width=201&crop=1:1,smart 210w,
                  {{ item.podcast.imageUrl }}?width=220&crop=1:1,smart 220w,
                  {{ item.podcast.imageUrl }}?width=343&crop=1:1,smart 343w"
          sizes="(max-width: 360px) 150px, (max-width: 480px) 210px, (max-width: 1023px) 343px, 220px"
          class="podcast-list__image" />
        <div class="podcast-list__title">
          {{ item.podcast.label }}
        </div>
        <div class="podcast-list__more">
          See All Episodes
          <svg version="1.1" id="podcast-list-caret" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 6 8" style="enable-background:new 0 0 6 8;" xml:space="preserve">
            <polygon points="6,4 0,8 0,0 "/>
          </svg>
        </div>
      </a>
    </div>
  {{/each}}
</section>
