<section class="component podcast-list component--podcast-list podcast-list--{{ sectionFront }}" data-uri="{{ default _ref _self }}" data-track-type="podcast-list" data-editable="items">
  {{#each items as |item|}}
    <div class="podcast-list__item">
      <a class="podcast-list__link outbound-link" href="{{ item.podcast.url }}">
        {{#ifAll @first ../showTitle}}
          <div class="podcast-list__tag"
            style="background-color: {{ if ../primaryColor ../primaryColor else=''}}; color: {{ if ../isTitleFontColorDark '#000000' else=''}}">
            {{ ../title }}
          </div>
        {{/ifAll}}
        <img
          src="{{ item.podcast.imageUrl }}width=220&crop=1:1,offset-y0"
          srcset="{{ item.podcast.imageUrl }}width=150&crop=1:1,offset-y0 150w,
                  {{ item.podcast.imageUrl }}width=201&crop=1:1,offset-y0 210w,
                  {{ item.podcast.imageUrl }}width=220&crop=1:1,offset-y0 220w,
                  {{ item.podcast.imageUrl }}width=343&crop=1:1,offset-y0 343w"
          sizes="(max-width: 360px) 150px, (max-width: 480px) 210px, (max-width: 1023px) 343px, 220px"
          class="podcast-list__image" />
        <div class="podcast-list__title">
          {{ item.podcast.label }}
        </div>
        {{#if ../showCallToActions}}
          <div class="podcast-list__more podcast-list__more{{ if ../primaryColor '--override-fill' else=''}} podcast-list__more{{ if ../sectionFront '--override-fill-section-front' else=''}}"
            style="color: {{ if ../primaryColor ../primaryColor else=''}}; fill: {{ if ../primaryColor ../primaryColor else=''}};">
            See All Episodes {{{ read 'components/podcast-list/media/caret.svg' }}}
          </div>
        {{/if}}
      </a>
    </div>
  {{/each}}
</section>
