<div class="more-content-feed__top-ad--mobile">
  {{> google-ad-manager googleAdTop}}
</div>
<section class="component component--more-content-feed {{#if (compare populateFrom 'sectionFront')}}component--{{sectionFront}}{{/if}}{{#if (compare populateFrom 'tag')}}component--tag{{/if}}" data-track-populate-from="{{ populateFrom }}" data-track-location="{{ locationOfContentFeed }}" data-uri="{{ default _ref _self }}" data-track-type="more-content-feed">
  {{#if (compare locationOfContentFeed 'homepage') }}
    <div class="more-content-feed__title-line"></div>
    <h2 class="more-content-feed__title">MORE from <span class="title">RADIO.COM</span></h2>
  {{/if}}
  <div class="section__content-feed-container">
    {{#ifAny content.length @root.locals.edit}}
      <ul class="more-content-feed__links" data-editable="tag">
        {{#each content as |feedItem|}}
          <li>
            <a class="links__link links__link--{{ feedItem.articleType }}" href="{{ feedItem.canonicalUrl }}"
               data-track-type="feedItem-link"
               data-track-component-name="more-content-feed"
               data-track-page-uri="{{ feedItem.pageUri }}"
               data-track-headline="{{ feedItem.primaryHeadline }}"
               data-track-component-title="More Content Feed"
               data-track-sectionFront="{{ feedItem.articleType }}">
              <div class="link__thumb" style="background-image:url({{ feedItem.feedImgUrl }});">
                {{#ifAll (compare ../populateFrom 'all') feedItem.articleType}}
                  <span class="thumb__section-front">{{{ feedItem.articleType }}}</span>
                {{/ifAll}}
                {{#unless (compare ../locationOfContentFeed 'homepage') }}
                  {{#ifAny (compare feedItem.lead 'youtube') (compare feedItem.lead 'brightcove')}}
                    <span class="thumb__content-type">
                      {{{ read 'components/more-content-feed/media/watch.svg' }}}
                    </span>
                  {{/ifAny}}
                  {{#if (compare feedItem.lead 'audio')}}
                    <span class="thumb__content-type">
                      {{{ read 'components/more-content-feed/media/listen.svg' }}}
                    </span>
                  {{/if}}
                {{/unless}}
                <span class="thumb__datetime-posted">
                  {{#if (isPublished24HrsAgo feedItem.date) }}
                    {{{ hrsOnlyTimestamp feedItem.date }}}
                  {{else}}
                    {{ formatLocalDate feedItem.date 'MMMM D, YYYY' }}
                  {{/if}}
                </span>
              </div>
              <div class="link__info">
                <span class="info__headline">{{{ feedItem.primaryHeadline }}}</span>
                <span class="info__teaser">{{{ feedItem.teaser }}}</span>
                <span class="info__datetime-posted">
                  {{#if (isPublished24HrsAgo feedItem.date) }}
                    {{{ hrsOnlyTimestamp feedItem.date }}}
                  {{else}}
                    {{ formatLocalDate feedItem.date 'MMMM D, YYYY' }}
                  {{/if}}
                </span>
              </div>
            </a>
          </li>
        {{/each}}
      </ul>
    {{/ifAny}}
    <div class="more-content-feed__right-rail more-content-feed__right-ad--desktop">
      {{#if @root.locals.edit}}
        {{#if (compare locationOfContentFeed 'tag-page')}}
          <aside class="blurb" data-editable="tagInfo">{{ tagInfo }}</aside>
        {{/if}}
      {{else}}
        {{#ifAll tagInfo (compare locationOfContentFeed 'tag-page') }}
          <aside class="blurb">{{ tagInfo }}</aside>
        {{/ifAll}}
      {{/if}}
      {{> google-ad-manager googleAdRightRail}}
    </div>
  </div>
</section>
