{{#if _computed.initialLoad}}
  {{#if _computed.content.length}}
    <section
      class="component component--more-content-feed
      {{#if (compare populateFrom 'sectionFront')}}component--{{ sectionFront }}{{/if}}
      {{#if (compare populateFrom 'tag')}}component--tag{{/if}}"
      data-track-populate-from="{{ populateFrom }}"
      data-track-location="{{ locationOfContentFeed }}"
      data-uri="{{ default _ref _self }}"
      data-track-type="more-content-feed"
      data-lazy-loads="{{ _computed.lazyLoads }}"
    >
      {{#if componentTitleVisible}}
        <h2 class="more-content-feed__title
          {{#if sectionFront }}more-content-feed__title--{{ sectionFront }}{{/if}}
          {{#if primarySectionFront }}more-content-feed__title--{{ primarySectionFront }}{{/if}}
          {{#if station }}more-content-feed__title--station-front{{/if}}"
          data-editable="header"
        >
          <span>{{ componentTitle }}</span>
        </h2>
      {{/if}}
      <div class="more-content-feed__container">
        <div class="more-content-feed__content">
          {{#unless dynamicTagPage}}
            <div class="more-content-feed__intro-components" data-editable="introComponents">
              {{> component-list introComponents}}
            </div>
          {{/unless}}
          {{#unless _computed.content.length}}
            {{#if @root.locals.edit}}
              <div class="more-content-feed__placeholder kiln-placeholder" data-editable="contentFeed">
                <div class="placeholder-label">
                  <span class="ui-icon placeholder-icon material-icons add">add</span>
                  <span class="placeholder-text">Content Feed</span>
                  <div class="ui-ripple-ink"></div>
                </div>
              </div>
            {{/if}}
          {{/unless}}
          {{#ifAny _computed.content.length @root.locals.edit}}
            <ul class="more-content-feed__links" data-editable="contentFeed">
          {{/ifAny}}
  {{else}}
    <!-- No content for {{ default _ref _self }} -->
  {{/if}}
{{/if}}
          {{#each _computed.content as |feedItem|}}
            <li>
              <a class="links__link links__link--{{ feedItem.sectionFront }}" href="{{ feedItem.canonicalUrl }}"
                 data-track-type="feedItem-link"
                 data-track-component-name="more-content-feed"
                 data-track-page-uri="{{ feedItem.pageUri }}"
                 data-track-headline="{{ feedItem.primaryHeadline }}"
                 data-track-component-title="More Content Feed"
                 data-track-sectionFront="{{ feedItem.sectionFront }}">
                <div class="thumb__container">
                  {{#ifAll (compare ../populateFrom 'all-content')  feedItem.sectionFront}}
                    <span class="thumb__section-front">{{{ feedItem.sectionFront }}}</span>
                  {{/ifAll}}
                  {{#unless (compare ../locationOfContentFeed 'homepage')}}
                    {{#ifAny (compare feedItem.lead 'youtube') (compare feedItem.lead 'brightcove')}}
                      <span class="thumb__content-type">
                        {{{ read 'components/more-content-feed/media/watch.svg' }}}
                      </span>
                    {{/ifAny}}
                    {{#if (compare feedItem.lead 'omny')}}
                      <span class="thumb__content-type">
                        {{{ read 'components/more-content-feed/media/listen.svg' }}}
                      </span>
                    {{/if}}
                    {{#if (compare feedItem.contentType 'gallery')}}
                      <span class="thumb__content-type">
                        {{{ read 'components/more-content-feed/media/gallery.svg' }}}
                      </span>
                    {{/if}}
                  {{/unless}}
                  <img
                    src="{{ feedItem.feedImgUrl }}?width=300&crop=16:9,offset-y0"
                    srcset="{{ sanitizeURI feedItem.feedImgUrl }}?width=300&crop=16:9,offset-y0 300w,
                              {{ sanitizeURI feedItem.feedImgUrl }}?width=320&crop=16:9,offset-y0 320w,
                              {{ sanitizeURI feedItem.feedImgUrl }}?width=343&crop=16:9,offset-y0 343w,
                              {{ sanitizeURI feedItem.feedImgUrl }}?width=380&crop=16:9,offset-y0 380w,
                              {{ sanitizeURI feedItem.feedImgUrl }}?width=440&crop=16:9,offset-y0 440w"
                    sizes="(max-width: 360px) 320px, (max-width: 480px) 440px, (max-width: 1023px) 343px, (max-width: 1279px) 300px, 380px"
                    class="link__thumb" />
                </div>
                <div class="link__info">
                  <div class="link__header">
                    <span class="info__headline">{{{ feedItem.primaryHeadline }}}</span>
                    <span class="info__teaser">{{{ feedItem.subHeadline }}}</span>
                  </div>
                  <div class="info__datetime-posted">
                    {{#if (isPublished24HrsAgo feedItem.date)}}
                      {{{ timeAgoTimestamp feedItem.date }}}
                    {{else}}
                      {{ formatLocalDate feedItem.date 'MMMM D, YYYY' }}
                    {{/if}}
                  </div>
                </div>
              </a>
            </li>
            {{!-- Add sharethrough every third item in list, except last item in list, if enabled --}}
            {{#ifAll
              ../enableSharethrough
              (modulo (add @index 1) 2 0)
              (compare ../feedItem.length "!==" (add @index 1))
            }}
              {{> google-ad-manager ../sharethroughTag}}
            {{/ifAll}}
          {{/each}}
{{#if _computed.moreContent}}
    <li class="links__link--loadmore"
        {{#if tag}}data-tag="{{ tag}}"{{/if}}
        {{#if sectionFront}}data-section="{{ sectionFront }}"{{/if}}
        {{#if author}}data-author="{{ author }}"{{/if}}>
      <button class="more-content-feed__loadmore">
        <div class="loadmore__text">Load More</div>
      </button>
    </li>
{{/if}}
{{#if _computed.initialLoad}}
          </ul>
        </div>
      </div>
  </section>
{{/if}}
