{{#if initialLoad}}
  <section class="component component--more-content-feed {{#if
          (compare populateFrom 'sectionFront')}}component--{{ sectionFront }}{{/if}}{{#if
          (compare populateFrom 'tag')}}component--tag{{/if}}"
           data-track-populate-from="{{ populateFrom }}"
           data-track-location="{{ locationOfContentFeed }}"
           data-uri="{{ default _ref _self }}"
           data-track-type="more-content-feed"
           data-lazy-loads="{{ lazyLoads }}">
  {{#if (compare locationOfContentFeed 'homepage') }}
      <h2 class="more-content-feed__title" data-editable="componentTitle">
        {{#if componentTitleVisible}}
          <span>{{ componentTitle }}</span>
        {{/if}}
      </h2>
  {{/if}}
  <div class="more-content-feed__container">
  <div class="more-content-feed__left-content">
  {{#unless dynamicTagPage}}
      <div class="more-content-feed__intro-components" data-editable="introComponents">
        {{> component-list introComponents}}
      </div>
  {{/unless}}
  {{#unless content.length}}
    {{#if @root.locals.edit}}
        <div class="more-content-feed__placeholder kiln-placeholder" data-editable="contentFeed">
          <div class="placeholder-label">
            <span class="ui-icon placeholder-icon material-icons add">add</span>
            <span class="placeholder-text">Content Feed</span>
            <div class="ui-ripple-ink"></div>
          </div>
        </div>
    {{/if}}
  {{/unless}}
  {{#ifAny content.length @root.locals.edit}}
    <ul class="more-content-feed__links" data-editable="contentFeed">
  {{/ifAny}}
{{/if}}
{{>links-list _computed.links }}
{{#if moreContent}}
    <li class="links__link--loadmore"
        {{#if tag}}data-tag="{{ tag}}"{{/if}}
      {{#if sectionFront}}data-section="{{ sectionFront }}"{{/if}}
      {{#if author}}data-author="{{ author }}"{{/if}}>
      <button class="more-content-feed__loadmore">
        <div class="loadmore__text">Load More</div>
      </button>
    </li>
{{/if}}
{{#if initialLoad}}
  </ul>
  </div>
    <div class="more-content-feed__right-rail more-content-feed__right-ad--desktop">
      {{#ifAny (compare locationOfContentFeed 'topic-page') (compare locationOfContentFeed 'author-page')}}
        {{> google-ad-manager contentCollectionLogoSponsorship}}
      {{/ifAny}}
      {{#if @root.locals.edit}}
        {{#unless dynamicTagPage}}
          <aside class="blurb" data-editable="tagInfo">{{ tagInfo }}</aside>
        {{/unless}}
      {{else}}
        {{#ifAll tagInfo (compare dynamicTagPage false)}}
          <aside class="blurb">{{ tagInfo }}</aside>
        {{/ifAll}}
      {{/if}}
      {{> google-ad-manager googleAdRightRail}}
    </div>
  </div>
  </section>
{{/if}}
