<header
  data-uri="{{ default _ref _self }}"
  class="component component--page-header page-header--{{tag}} {{ if @root.locals.edit ' editing' }}"
  data-editable="settings">
  {{#if tag}}
    <div class="page-header__banner {{if image 'page-header__banner--image'}}">
      {{#if image}}
        <div class="banner__image">
          <div class="banner__gradient"></div>
          <img src="{{ image }}">
        </div>
      {{/if}}
      <h1>{{tag}}</h1>
    </div>
  {{/if}}
</header>
