{{#*inline "slideTemplate" }}
  <div class="podcast-hero-carousel__slide{{#unless @index}} podcast-hero-carousel__slide--active{{/unless}}" style="background-color: {{ this.backgroundColor }}; color: {{ this.textColor }}" data-text-color="{{ this.textColor }}" data-background-color="{{ this.backgroundColor }}">
    <div class="podcast-hero-carousel__slide-image-wrap">
      <picture class="podcast-hero-carousel__slide-image">
        <source media="(min-width: 1024px)" srcset="{{ this.image }}?width=430&crop=1:1,offset-y0" />
        <source media="(max-width: 1023px)" srcset="{{ this.image }}?width=380&crop=1:1,offset-y0" />
        <source media="(max-width: 480px)" srcset="{{ this.image }}?width=429&crop=1:1,offset-y0" />
        <img src="{{ this.image }}?width=430&crop=1:1,offset-y0" class="podcast-hero-carousel__slide-image" />
      </picture>
    </div>
    <div class="podcast-hero-carousel__slide-info-wrap">
      <h2 class="podcast-hero-carousel__slide-title">{{ this.title }}</h2>
      <p class="podcast-hero-carousel__slide-description">{{ this.description }}</p>
      {{#if this.showListenNowButton}}
        <a href="#" class="podcast-hero-carousel__slide-listen-now-button" style="background-color: {{ this.textColor }}; color: {{ this.backgroundColor }};">Listen Now</a>
      {{/if}}
    </div>
  </div>
{{/inline}}

<div class="component component--podcast-hero-carousel podcast-hero-carousel {{ if @root.locals.edit 'editing' }}" data-uri="{{ default _ref _self }}" data-editable="slides">
  <div class="podcast-hero-carousel__slides podcast-hero-carousel__slides--right">
    {{#each slides as |slide|}}
      {{> slideTemplate slide }}
    {{/each}}
  </div>
  <div class="podcast-hero-carousel__controls">
    <button role="button" class="podcast-hero-carousel__control-button podcast-hero-carousel__control-button--left" data-direction="left">
      {{{ read 'components/podcast-hero-carousel/media/arrow-left.svg' }}}
    </button>
    <div class="podcast-hero-carousel__macro-controls">
      <div class="podcast-hero-carousel__macros">
        {{#each slides}}
          <button class="podcast-hero-carousel__macro-button{{#unless @index}} podcast-hero-carousel__macro-button--active{{/unless}}" data-slide-index="{{ @index }}"></button>
        {{/each}}
      </div>
    </div>
    <button role="button" class="podcast-hero-carousel__control-button podcast-hero-carousel__control-button--right" data-direction="right">
      {{{ read 'components/podcast-hero-carousel/media/arrow-right.svg' }}}
    </button>
  </div>
</div>