{{#*inline "slideTemplate" }}
  <div class="podcast-hero-carousel__slide" data-background-color="{{  this.backgroundColor }}">
    <div class="podcast-hero-carousel__slide-image">{{  this.image }}</div>
    <div class="podcast-hero-carousel__slide-title">{{  this.title }}</div>
    <div class="podcast-hero-carousel__slide-description">{{  this.description }}</div>
    <div class="{{ if this.showListenNowButton "podcast-hero-carousel__slide-listen-now-button" else="podcast-hero-carousel__slide-listen-now-button--hide" }}">{{  this.showListenNowButton }}</div>

  </div>
{{/inline}}

<div class="component component--podcast-hero-carousel podcast-hero-carousel {{ if @root.locals.edit 'editing' }}" data-uri="{{ default _ref _self }}">
  <div class="podcast-hero-carousel__slides">
    {{#each slides as |slide|}}
      {{> slideTemplate slide }}
    {{/each}}
  </div>
  <div class="podcast-hero-carousel__controls">
    <button role="button" class="podcast-hero-carousel__control-button podcast-hero-carousel__control-button--left">L</button>
    <div class="podcast-hero-carousel__macro-controls">
      <div class="podcast-hero-carousel__macros">
        {{#each slides}}
          <div class="podcast-hero-carousel__macro">.</div>
        {{/each}}
      </div>
    </div>
    <button role="button" class="podcast-hero-carousel__control-button podcast-hero-carousel__control-button--right">R</button>
  </div>
</div>