{{#*inline "slideTemplate" }}
  <div class="podcast-hero-carousel__slide{{#unless @index}} podcast-hero-carousel__slide--active{{/unless}}" style="background-color: {{ if this.backgroundColor this.backgroundColor else=defaults.backgroundColor  }}; color: {{ if this.textColor this.textColor else=defaults.textColor  }}">
    <div class="podcast-hero-carousel__slide-image-wrap">
      <a href="{{ this.url }}" class="podcast-hero-carousel__slide-image-link">
        <img src="{{ this.image }}?width=440&crop=1:1,offset-y0" class="podcast-hero-carousel__slide-image" />
      </a>
    </div>
    <div class="podcast-hero-carousel__slide-info-wrap">
      <h2 class="podcast-hero-carousel__slide-title">
        <a href="{{ this.url }}">{{ this.title }}</a>
      </h2>
      <p class="podcast-hero-carousel__slide-description">{{ this.description }}</p>
      {{#unless this.hideListenNowButton}}
        <a href="{{ this.url }}" class="podcast-hero-carousel__slide-listen-now-button" style="background-color: {{ if this.textColor this.textColor else=defaults.textColor }}; color: {{ if this.backgroundColor this.backgroundColor else=defaults.backgroundColor }};">Listen Now</a>
      {{/unless}}
    </div>
  </div>
{{/inline}}

<div class="component component--podcast-hero-carousel podcast-hero-carousel {{ if @root.locals.edit 'editing' }}" data-uri="{{ default _ref _self }}" data-editable="slides">
  <div class="podcast-hero-carousel__slides podcast-hero-carousel__slides--right">
    {{#each slides as |slide|}}
      {{> slideTemplate slide defaults=../_computed.defaults }}
    {{/each}}
  </div>
  {{#if _computed.showControls }}
    <div class="podcast-hero-carousel__controls">
      <button role="button" class="podcast-hero-carousel__control-button podcast-hero-carousel__control-button--left" data-direction="left">
        {{{ read 'components/podcast-hero-carousel/media/arrow-left.svg' }}}
      </button>
      <div class="podcast-hero-carousel__macro-controls">
        <div class="podcast-hero-carousel__macros">
          {{#each slides}}
            <button class="podcast-hero-carousel__macro-button{{#unless @index}} podcast-hero-carousel__macro-button--active{{/unless}}" data-slide-index="{{ @index }}"></button>
          {{/each}}
        </div>
      </div>
      <button role="button" class="podcast-hero-carousel__control-button podcast-hero-carousel__control-button--right" data-direction="right">
        {{{ read 'components/podcast-hero-carousel/media/arrow-right.svg' }}}
      </button>
    </div>
  {{/if}}
</div>