<section data-uri="{{ default _ref _self }}" class="component component--directory-location">
  {{#if market }}
    {{> stations-list stationsList }}
  {{else}}
    <select class="directory-location__dropdown--mobile">
      <option value="">See all in location:</option>
      {{#each @root.locals.allMarkets }}
        <option value="{{ id }}">{{ attributes.display_name }}</option>
      {{/each}}
    </select>
    {{~#each @root.locals.allMarkets as |market| ~}}
      <div class="directory-location__stations-by-market" data-market="{{ market.id }}">
        {{> stations-list ../stationsListTruncated }}
      </div>
      {{#ifAll (modulo (add @index 1) 2 0) (compare @root.locals.allMarkets.length "!==" (add @index 1)) }}
        {{> google-ad-manager ../googleInlineAd }}
      {{/ifAll}}
    {{~/each ~}}
  {{/if}}
</section>
