<nav class="component component--top-nav radiocom-nav-placeholder" data-uri="{{ default _ref _self }}" data-editable="settings">
  <div class="radiocom-nav">
    <div class="container">
      <div id="hamburger" class="radiocom-nav__hamburger wrapper">
        <div class="bar bar-1"></div>
        <div class="bar bar-2"></div>
        <div class="bar bar-3"></div>
      </div>{{!--
      --}}<a class="radiocom-nav__logo" href="//{{ concat @root.locals.site.host @root.locals.site.path (default siteHomepage '') }}"><button>
        {{{ read 'components/top-nav/media/radiocom_hz.svg' }}}
      </button></a>{{!--
      --}}{{#if headerLinks.length}}
        {{#each headerLinks}}
          <div class="radiocom-nav__category-button radiocom-nav__category-button--{{text}} {{#if current}}radiocom-nav__category-button--current{{/if}} {{#if drawer}}radiocom-nav__category-button--drawer-enabled{{/if}}">
            {{#if url}}
              <a href="{{url}}">
                <button>
                  <span class="category-button__text">{{text}}</span>
                </button>
              </a>
            {{ else }}
              <button>
                <span class="category-button__text">{{text}}</span>
              </button>
            {{/if}}
            {{#if list.length}}
              <div class="nav-drawer nav-drawer--{{text}}">
                <div class="container">
                  {{#each list as |subnav| }}
                    <div class="nav-drawer__sub-nav">
                      {{#if subnav.list}}
                        <span class="sub-nav__text">{{subnav.text}}</span>
                        <ul class="nav-drawer__sub-nav--columns">
                          {{#each subnav.list as |subnavLink| }}
                            <li>
                              <a href="{{subnavLink.url}}">
                                <span class="sub-nav-list-item__text" title="{{subnavLink.url}}">{{subnavLink.text}}</span>
                              </a>
                            </li>
                          {{/each}}
                        </ul>
                      {{ else }}
                        {{#if subnav.url}}
                          <a href="{{subnav.url}}" target="_blank">
                            <span class="sub-nav__text {{#if (compare subnav.text 'find a station')}}find-station-link{{/if}}">{{subnav.text}}{{#if (compare subnav.text 'find a station')}} <span>&#8227;</span>{{/if}}</span>
                          </a>
                        {{ else }}
                          <span class="sub-nav__text">{{subnav.text}}</span>
                        {{/if}}
                      {{/if}}
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/if}}
          </div>
        {{/each}}
      {{/if}}
      <div class="nav-drawer nav-drawer--mobile">
        {{#if headerLinks.length}}
          {{#each headerLinks}}
            <div class="nav-drawer__sub-nav nav-drawer__{{text}}">
              <a href="{{url}}" target="_blank">
                <span class="sub-nav__text">{{text}}</span>
              </a>
            </div>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</nav>
