<article role="main"
  data-track-type="article-detail"
  data-uri="{{ default _ref _self }}"
  class="component component--article{{ if @root.locals.edit ' editing' }} article--{{sectionFront}}"
  itemscope
  itemtype="http://schema.org/Article"
  data-section-front="{{ sectionFront }}"
  data-syndication="{{ syndicationStatus }}"
  data-headline="{{ striptags headline }}"
  data-authors="{{ join (map authors (getProp "text")) }}"
  data-hosts="{{ join (map hosts (getProp "text")) }}"
  data-sources="{{ join (map sources (getProp "text")) }}"
  data-publish-date="{{ formatLocalDate date 'YYYY-MM-DD' }}"
  data-tags="{{ join (map tags.items (getProp "text")) }}"
  data-station-slug="{{ stationSlug }}">

  {{> breadcrumbs this }}
  <header class="article__header">
    {{! article microdata }}
    <meta itemprop="url" content="{{ @root.locals.url }}" />
    <meta itemprop="mainEntityOfPage" content="{{ @root.locals.url }}" />
    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{ toUpperCase @root.locals.site.name }}" />
      <meta itemprop="sameAs" content="http://{{ @root.locals.site.host }}{{ @root.locals.site.path }}" />
      <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="http://{{ @root.locals.site.host }}{{ @root.locals.site.path }}/media/sites/{{ @root.locals.site.slug }}/logo.w600.h60.png" />
        <meta itemprop="height" content="60" />
        <meta itemprop="width" content="600" />
      </div>
    </div>
    <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
      <meta itemprop="url" content="{{ feedImgUrl }}" />
      <meta itemprop="height" content="{{ extractImgHeight feedImgUrl }}" />
      <meta itemprop="width" content="{{ extractImgWidth feedImgUrl }}" />
    </div>
    <meta itemprop="dateModified" content="{{ dateModified }}" />

    {{! title }}
    <h1 class="header__primary" data-editable="headline" itemprop="headline">
      {{#ifAll isOpinion headline}}
        {{#if opinionHeadlineOverride}}
          {{opinionHeadlineOverride}}:
        {{else}}
          OPINION:
        {{/if}}
      {{/ifAll}}
      {{{ headline }}}
    </h1>
    {{#if @root.locals.edit}}
      <div class="header__opinion" data-editable="opinion" itemprop="isOpinion">
        <div class="header__opinion--form">
          <h4>Opinion settings:</h4>
          <div class="header__opinion--input">
            <input id="isOpinionCheckbox" {{#if isOpinion}}checked{{/if}} type="checkbox" disabled />
            <label for="isOpinionCheckbox">Is this an opinion piece?</label>
          </div>
          {{#if opinionHeadlineOverride}}
            <div class="header__opinion--input">
              <label for="opinionHeadlineOverrideInput">Prepended label</label>
              <input id="opinionHeadlineOverrideInput" type="text" value="{{opinionHeadlineOverride}}" disabled />
            </div>
          {{/if}}
        </div>
        {{#if isOpinion}}
          <div class="header__opinion--disclaimer">
            "OPINION" will be appended to the article's title and a disclaimer provided by legal will be added to the bottom
          </div>
        {{/if}}
      </div>
    {{/if}}
    {{! subtitle }}
    {{#ifAny @root.locals.edit subHeadline}}
      <span class="header__secondary" data-editable="subHeadline" itemprop="subheadline">{{{ subHeadline }}}</span>
    {{/ifAny}}
  </header>

  {{#if _computed.renderFullWidthLead }}
    {{! Lead }}
    <div class="lead lead--full-width" data-editable="lead">
      {{> component-list lead }}
    </div>
  {{/if}}

  {{> google-ad-manager contentPageSponsorLogo }}

  <section class="article__body"
    {{#if (includes lead.0._ref '_components/instagram-post')}} data-lead-type="instagram" {{/if}}
    {{#if (includes lead.0._ref '_components/image')}} data-lead-orientation="{{lead.0.rendition}}" {{/if}}
  >
    {{#unless _computed.renderFullWidthLead }}
      {{#if _computed.supportsFullWidthLead }}
        <div data-editable="leadSettings">
          <h1>Lead Settings:</h1>
          <span>Full-Width Lead: {{if fullWidthLead 'Yes' else='No'}}</span>
        </div>
      {{/if}}

      <div class="body__header">
        {{! Lead }}
        <div class="lead" data-editable="lead">
          {{> component-list lead }}
        </div>
      </div>
    {{/unless}}

    <div class="body__info">
      {{! authors }}
      <div class="info--left-top">
        <div data-editable="bylinesAndStationLogo">
          <div class="info__by-authors{{#unless stationURL}} info__by-authors--no-station{{/unless}}">
              {{{ byline 
                bylines=byline 
                authorHost=@root.locals.site.host 
                showSocial=./showSocial 
                stationSlug=stationSlug 
                siteSlug=@root.locals.station.site_slug 
                isContentFromAP=./isContentFromAP }}}<!-- THIS IS TO ALLOW THE COMMA (Line 90) TO APPEAR INLINE WITHOUT WHITESPACE
          -->{{#each byline as |byline|}}<!--
            -->{{#each sources as |source|}}<!--
              -->{{#each hosts as |host|}}<!--
                --><span class="source">{{#ifAny byline.names.length @index}},{{/ifAny}} {{source.text}} {{host.text}}</span>
              {{/each}}
            {{/each}}
          {{/each}}
          </div>

          {{#if stationLogoUrl}}
            <div class="info__from-station">
              <a href="{{ striptags stationURL }}" target="_blank">
                <img class="from-station__logo" src="{{ stationLogoUrl }}?width=60&height=60&crop=1:1" />
              </a>
            </div>
          {{/if}}
        </div>
        {{! date and time }}
        <time class="info__timestamp" datetime="{{ date }}" itemprop="datePublished" data-editable="publishedDate">
          {{#if date}}
            {{#if dateUpdated}}
              <span class="timestamp__update">Updated on </span>
            {{/if}}
            {{#if (isPublished24HrsAgo date) }}
              <span class="timestamp__date timestamp__date--recent">{{{ timeAgoTimestamp date }}}</span>
            {{else}}
              <span class="timestamp__date timestamp__date--large">{{ formatLocalDate date 'MMMM D, YYYY' }}</span>
              <span class="timestamp__date timestamp__date--small">{{ formatLocalDate date 'MM/DD/YYYY' }}</span>
              <span class="timestamp__time">{{ formatLocalDate date 'h:mm a' }}</span>
            {{/if}}
          {{/if}}
        </time>
      </div>
      <div class="info--right-bottom">
        {{! Side Share }}
        {{> share sideShare }}
      </div>
    </div>
    <div class="body__content">
      {{! don't display generated annotatedTextAria in edit mode. Replace all ad components with ad-dummies }}
      <div data-editable="content" itemprop="articleBody">
        {{> component-list content }}
      </div>

      {{#if isOpinion}}
        <i>
          We strive to be a platform where varying opinions may be voiced and heard, but it is up to you, the
          reader, to verify your own facts and reach your own conclusions. We make no representations as to
          the accuracy, completeness, correctness, quality, suitability, or validity of this article and/or
          any comment(s) to it. All views, thoughts, statements, and opinions expressed by the author(s)
          and/or by those providing comments are theirs alone. Entercom Communications Corp. and RADIO.COM
          do not endorse or support the views, opinions or conclusions expressed in this article or any
          comments, and we are not responsible or liable for any damage or loss of any kind whatsoever
          to be caused by and in connection to such article and/or any comment(s).
        </i>
      {{/if}}

      {{! Tags }}
      {{> tags tags}}

      {{! Ad Tags }}
      {{> ad-tags adTags}}
    </div>

    {{! circulation area }}
    {{#if @root.locals.edit }}
      {{ set 'empty' '<span class="circulation--empty">None</span>' }}
      <section class="body__circulation">
        <h2 class="circulation__title">Article Circulation</h2>

        <section class="circulation__section" data-editable="circHeadlines">
          <h3 class="subtitle circ-edit">Headlines and Teasers</h3>
          <ul class="items">
            <li class="item">
              <h4 class="item-title required">Facebook Headline</h4>
              <p class="item-data">{{{ default primaryHeadline empty }}}</p>
            </li>
            <li class="item">
              <h4 class="item-title required">Twitter/Short Headline</h4>
              <p class="item-data">{{{ default shortHeadline empty }}}</p>
            </li>
            <li class="item">
              <h4 class="item-title required">Teaser</h4>
              <p class="item-data">{{{ default teaser empty }}}</p>
            </li>
            <li class="item">
              <h4 class="item-title required">SEO Headline</h4>
              <p class="item-data">{{{ default seoHeadline empty }}}</p>
            </li>
            <li class="item">
              <h4 class="item-title required">SEO Description</h4>
              <p class="item-data">{{{ default seoDescription empty }}}</p>
            </li>
          </ul>
        </section>

        <section class="circulation__section" data-editable="syndication">
          <h3 class="subtitle circ-edit">Syndication</h3>
          <ul class="items">
            <li class="item">
              <h4 class="item-title">Feature - Sports</h4>
              <p class="item-data">{{ yesNo featuredSports }}</p>
            </li>
            <li class="item">
              <h4 class="item-title">Feature - News</h4>
              <p class="item-data">{{ yesNo featuredNews }}</p>
            </li>
            <li class="item">
              <h4 class="item-title">Feature - Music</h4>
              <p class="item-data">{{ yesNo featured }}</p>
            </li>
            <li class="item">
              <h4 class="item-title">Editorial Feeds Term(s)</h4>
              <p class="item-data">{{{ default (commaSeparated editorialFeeds false) empty }}}</p>
            </li>
            <li class="item">
              <h4 class="item-title">Syndicate to Corporate Website(s)</h4>
              <p class="item-data">{{{ default (commaSeparated corporateSyndication false) empty }}}</p>
            </li>
            <li class="item">
              <h4 class="item-title">Syndicate to Station(s)</h4>
              <p class="item-data">{{{ default _computed.stationSyndicationCallsigns empty }}}</p>
            </li>
            <li class="item">
              <h4 class="item-title">Syndicate to Genre(s)</h4>
              <p class="item-data">{{{ default (join genreSyndication) empty }}}</p>
            </li>
            <li class="item">
              <h4 class="item-title">Syndication Status</h4>
              <p class="item-data">{{{ default syndicationStatus empty }}}</p>
            </li>
            <li class="item">
              <h4 class="item-title">Syndicated URL</h4>
              <p class="item-data">{{{ default syndicatedUrl empty }}}</p>
            </li>
          </ul>
        </section>

        {{#if feeds.msn}}
          <section class="circulation__section" data-editable="msnFeedSettings">
            <h3 class="subtitle circ-edit">MSN Feed Settings</h3>
            <ul class="items">
              <li class="item">
                <h4 class="item-title">MSN Article Title</h4>
                <p class="item-data">{{ msnTitle }}</p>
              </li>
            </ul>
          </section>
        {{/if}}

        <section class="circulation__section" data-editable="circSlug">
          {{#if slugLock}}
            <div class="alert alert-warning">
              <span style="vertical-align: sub;">{{{ read 'public/media/components/article/warning.svg' }}}</span>

              Article Slug is locked. Unlock in Article Settings.
            </div>
          {{/if}}
          <h3 class="subtitle circ-edit">Slug and URL</h3>
          <ul class="items">
            <li class="item">
              <h4 class="item-title required">Article Slug</h4>
              <p class="item-data">
                {{#if slug}}<span class="circulation-slug">{{ slug }}</span>{{else}}{{{ empty }}}{{/if}}
              </p>
            </li>
            <li class="item">
              <h4 class="item-title">Evergreen Treatment</h4>
              <p class="item-data">
                {{ yesNo evergreenSlug }}
              </p>
            </li>
          </ul>
        </section>

        <section class="circulation__section">
          <h3 class="subtitle">Recirculation:</h3>
          {{> feed-image feedImg }}
        </section>

        <section class="circulation__section" data-editable="circMetadata">
          <h3 class="subtitle circ-edit">Article Metadata</h3>
          <ul class="items">
            <li class="item">
              <h4 class="item-title required">Section Front</h4>
              <p class="item-data">{{ sectionFront }}</p>
            </li>
            <li class="item">
              <h4 class="item-title">Secondary Section Front</h4>
              <p class="item-data">{{ secondarySectionFront }}</p>
            </li>
          </ul>
        </section>
      </section>
    {{/if}}
  </section>
</article>
