<div class="component component--link-card">
  <div class="link-card link-card--{{cardType}}
    {{if category " link-card--"}}{{category}}
    {{#each classModifiers}} {{this}}{{/each}}">
    <a class="link-card__link" href="{{url}}"
       {{#each dataTrackModifiers}} data-track-{{type}}="{{value}}"{{/each}}>
      {{#if image}}
        <picture class="link-card__image">
          {{#each image.sizes}}
            <source
                    media="{{media}}"
                    srcset="{{#each srcset}}{{if @index ','}}{{ ../../image.url }}{{if params (concat "?" params) }} {{width}},{{/each}}"
            />
          {{/each}}
          <img alt="{{image.alt}}" style="max-width:400px;" src="{{ image.url }}{{if image.params "?"}}{{image.params}}"
               {{#if image.srcset}}srcset="{{#each image.srcset}}{{if @index ','}}
                   {{ ../image.url }}{{if params (concat "?" params)}} {{width}}
                 {{/each}}"
               {{/if}}
          />
        </picture>
      {{/if}}
      <div class="link-card__info">
        {{#if thumb}}
          <div class="link-card__thumb{{if thumb.type " link-card__thumb--" }}{{thumb.type}}">{{{thumb.content}}}</div>
        {{/if}}
        {{#if label}}
          <div class="link-card__label">{{label}}</div>
        {{/if}}
        <div class="link-card__title">{{title}}</div>
        {{#if teaser}}
          <div class="link-card__sub-title">{{subTitle}}</div>
        {{/if}}
        {{#if posted}}
          <div class="link-card__posted">{{posted}}</div>
        {{/if}}
        {{#if action}}
          <div class="link-card__action{{action.classModifiers}}"
               data-action="{{action.data}}">{{action.content}}</div>
        {{/if}}
      </div>
    </a>
  </div>
</div>
