{{#*inline "podcastListItem"}}
  <li class="podcast-episode-list__item">
    <div class="podcast-episode-list__item-thumb">
      <img src="{{image_url}}" alt="" class="podcast-episode-list__image">
    </div>
    <div class="podcast-episode-list__item-info">
      <div class="podcast-episode-list__info-meta">
        <div class="podcast-episode-list__pub-date">{{published_date_formatted}}</div>
        {{#if duration_seconds_formatted}}
          <div class="podcast-episode-list__duration">
            <span class="podcast-episode-list__meta-icon">
              {{{ read 'components/podcast-episode-list/media/ic_time.svg' }}}
            </span>
            <span class="podcast-episode-list__duration-text">
              {{duration_seconds_formatted}}
            </span>
          </div>
        {{/if}}
        <a class="podcast-episode-list__download-link" href="{{audio_url}}">
          <span class="podcast-episode-list__meta-icon">
            {{{ read 'components/podcast-episode-list/media/ic_download.svg' }}}
          </span>
          Download
        </a>
      </div>
        <a class="podcast-episode-list__title">
          {{truncate title 52}}
        </a>
      <div class="podcast-episode-list__description">{{truncate description 210}}</div>
    </div>
    <div class="podcast-episode-list__item-controls">
      <a class="podcast-episode-list__play-btn podcast-episode-list__btn {{playing_class}}"
        href="#"
        data-play-podcast-episode-id="{{ podcastId }}"
        data-play-podcast-show-id="{{ podcast.[0].id }}"
      >
        {{{ read 'components/podcast-episode-list/media/wplyr-cntrl-btn.svg' }}}
      </a>
    </div>
  </li>
{{/inline}}

<div class="component component--podcast-episode-list podcast-episode-list"
  data-uri="{{ default _ref _self }}"
  data-podcast-site-slug="{{ _computed.podcastSiteSlug }}"
  data-station-site-slug="{{ _computed.stationSiteSlug }}"
>
  <div class="podcast-episode-list__controls">
    <select name="episodesOrder" id="episodesOrder">
      <option value="1">Most Recent</option>
      <option value="0">Oldest</option>
    </select>
  </div>
  <ol class="podcast-episode-list__episodes">
    {{#each _computed.episodes as |podcast|}}
      {{> podcastListItem podcast.attributes podcastId=podcast.id }}
    {{/each}}
  </ol>
  {{#if _computed.showEpisodeBtn}}
  <div class="podcast-episode-list__load-more">
    <button class="podcast-episode-list__load-more-btn podcast-episode-list__btn">Load More</button>
  </div>
  {{/if}}
</div>
