<div data-uri="{{ default _ref self }}" class="tag-list{{#if variation}} tag-list-{{variation}}{{/if}}">
  {{#if title}}
  <div class="tag-list-hd">
    <h2 class="tag-list-hd-title" data-editable="title">{{ title }}</h2>
  </div>
  {{/if}}
  <ol class="tag-list-list">
    {{#each entries}}
      <li class="tag-list-item">
        <a class="tag-list-link" href="{{ canonicalUrl }}">
          {{#ifAll ../toggleImages feedImgUrl}}
          <div class="tag-list-item-img">
            <img src="{{ feedImgUrl }}" />
          </div>
          {{/ifAll}}
          <div class="tag-list-item-text">
            <h3 class="tag-list-item-title">{{{ primaryHeadline }}}</h3>
            {{#if ../toggleTeaser}}
            <p class="tag-list-item-description">{{ teaser }}</p>
            {{/if}}
            {{#if ../toggleReadMore}}
            <span class="tag-list-item-read-more">Read More &#187;</span>
            {{/if}}
          </div>
        </a>
      </li>
    {{/each}}
  </ol>
</div>
