<section data-uri="{{ default _ref _self }}" class="component component--directory-genre">
  {{#if dynamicGenre }}
    {{#ifAll (compare dynamicGenre "!==" "news-talk") (compare dynamicGenre "!==" "sports") }}
      <select class="directory-genre__dropdown--mobile">
        <option value="">See all in genre:</option>
        {{#each allMusic }}
          <option value="{{ attributes.slug }}">{{ attributes.name }}</option>
        {{/each}}
      </select>
    {{/ifAll}}
    {{#if (compare dynamicGenre "news-talk") }}
      {{~#each allNewsTalk ~}}
        <div class="directory-genre__stations-by-music-genre" data-genre="{{ id }}">
          {{> stations-list ../stationsList }}
        </div>
      {{~/each ~}}
    {{else}}
      {{> stations-list stationsList }}
    {{/if}}
  {{else}}
    <select class="directory-genre__dropdown--mobile">
      <option value="">See all in genre:</option>
      {{#each allMusic }}
        <option value="{{ attributes.slug }}">{{ attributes.name }}</option>
      {{/each}}
    </select>
    {{~#each allMusic ~}}
      <div class="directory-genre__stations-by-music-genre" data-genre="{{ id }}">
        {{> stations-list ../stationsListTruncated }}
      </div>
    {{~/each ~}}
  {{/if}}
</section>
