<section
  class="component component--latest-recirc
    {{#if (compare populateFrom 'section-front')}}component--{{sectionFront}}{{/if}}
    {{#if (compare populateFrom 'tag')}}component--tag{{/if}}
    {{#if (compare populateFrom 'station')}}component--station{{/if}}
    {{#ifNone _computed.articles.length @root.locals.edit }} component--empty{{/ifNone}}
    {{#if _computed.isMultiColumn}} component--column{{/if}}"
  data-uri="{{ default _ref _self }}"
  data-track-type="latest-recirculation"
  data-editable="latestRecirculationItems">
  {{#if _computed.articles.length  }}
    {{#unless _computed.isMultiColumn}}
      {{#if (compare customTitle '')}}
        <h2 class="latest-recirc__title">LATEST
          {{#if (compare populateFrom 'section-front')}}
            in <span class="title">{{sectionFront}}</span>
          {{/if}}
          {{#if (compare populateFrom 'tag')}}
            in <span class="title">{{tag}}</span>
          {{/if}}
          {{#if (compare populateFrom 'station')}}
            from <span class="title">{{_computed.station}}</span>
          {{/if}}
        </h2>
      {{else}}
        {{#if hyperLinkTitle}}
          {{#if hyperLinkUrl}}
            <a href={{hyperLinkUrl}}><h2 class="latest-recirc__title">{{customTitle}}</h2></a>
          {{/if}}
        {{else}}
          <h2 class="latest-recirc__title">{{customTitle}}</h2>
        {{/if}}
      {{/if}}
    {{/unless}}
    <ul class="latest-recirc__links">
      {{#each _computed.articles as |article|}}
        <li>
          <a href="{{if article.canonicalUrl article.canonicalUrl else=article.externalUrl}}"
             target="{{if article.canonicalUrl "_self" else="_blank"}}"
             data-track-type="article-link"
             data-track-component-name="latest-recirculation"
             data-track-page-uri="{{ article.pageUri }}"
             data-track-headline="{{ article.primaryHeadline }}"
             data-track-component-title="Latest Recirculation">
            <div class="link__thumb" style="background-image:url('{{ article.feedImgUrl }}?width={{if ../_computed.isMultiColumn 140 else=70}}&crop=1:1,offset-y0');"></div>
            <div class="link__content">
              {{#if ../_computed.isMultiColumn }}
                <span class="link__label">
                  {{ article.label }}
                  <span class="link__date">{{ timeAgoTimestamp article.date }}</span>
                </span>
              {{/if}}
              <span class="link__headline">{{{ article.primaryHeadline }}}</span>
            </div>
          </a>
        </li>
      {{/each}}
    </ul>
  {{else if @root.locals.edit}}
    <div class="kiln-placeholder">
      <div class="placeholder-label">
        Latest Recirculation
      </div>
    </div>
  {{/if}}
</section>
