<section class="component component--latest-content" data-uri="{{ default _ref _self }}" data-track-type="latest-content">
  <h2 class="latest-content__title"><span>LATEST on RADIO.COM</span></h2>
  <div class="latest-content-sections">
    {{#each articles as |articleSection|}}
      <div class="latest-content-sections__articleList" data-editable="{{articleSection.section}}Items">
        {{#each articleSection.articles as |article|}}
          <a href="{{ article.canonicalUrl }}"
            class="articleContainer"
            data-track-type="article-link"
            data-track-component-name="latest-content"
            data-track-page-uri="{{ article.pageUri }}"
            data-track-headline="{{ article.primaryHeadline }}"
            data-track-component-title="Latest Content">
            {{#if @first}}
              <div class="articleContainer__sectionContainer">
                <span class="articleContainer__sectionTitle articleContainer__sectionTitle--{{articleSection.section}}">{{capitalize articleSection.section}}</span>
              </div>
              <img
                src="https://via.placeholder.com/300x168/666666/ffffff?text=Article%20Image%20Placeholder"
                srcset="https://via.placeholder.com/343x192/666666/ffffff?text=Article%20Image%20Placeholder 343w,
                  https://via.placeholder.com/300x168/666666/ffffff?text=Article%20Image%20Placeholder 300w,
                  https://via.placeholder.com/440x248/666666/ffffff?text=Article%20Image%20Placeholder 440w,
                  https://via.placeholder.com/320x180/666666/ffffff?text=Article%20Image%20Placeholder 320w"
                sizes="(max-width: 360px) 320px, (max-width: 480px) 440px, (max-width: 1023px) 343px, 300px"
                class="articleContainer__thumb" />
            {{else}}
              <picture class="articleContainer__thumb">
                <source media="(min-width: 1024px)" srcset="https://via.placeholder.com/80x80/666666/ffffff?text=Article%20Image%20Placeholder" />
                <source media="(max-width: 1023px)" srcset="https://via.placeholder.com/343x192/666666/ffffff?text=Article%20Image%20Placeholder" />
                <source media="(max-width: 480px)" srcset="https://via.placeholder.com/440x248/666666/ffffff?text=Article%20Image%20Placeholder" />
                <source media="(max-width: 360px)" srcset="https://via.placeholder.com/320x180/666666/ffffff?text=Article%20Image%20Placeholder" />

                <img
                  src="https://via.placeholder.com/80x80/666666/ffffff?text=Article%20Image%20Placeholder"
                   />
              </picture>
            {{/if}}
            <span class="articleContainer__headline">{{{ article.primaryHeadline }}}</span>
          </a>
        {{/each}}
      </div>
    {{/each}}
  </div>
</section>
