<div class='component component--stations-carousel stations-carousel--' data-uri='{{ default _ref _self }}' data-editable='settings' data-genre-track='{{genre}}' data-section-front-track='{{sectionFront}}' data-filter-stations-by-track='{{filterStationsBy}}'>
  <div class='stations-carousel__arrow stations-carousel__arrow--left' data-direction='left'>
    {{#if (compare sectionFront 'news')}}
      {{{ read 'components/stations-carousel/media/arrow_news.svg' }}}
    {{else}}
      {{{ read 'components/stations-carousel/media/arrow.svg' }}}
    {{/if}}
  </div>
  <div class='stations-carousel__carousel'>
    <div class='carousel__title'>
      <div class='title__line'></div>
      <h2>{{title}}</h2>
    </div>
    <ul>
      <div class="loader-container">
        {{{ read 'components/stations-carousel/media/radiocom-monogram-loader.svg' }}}
      </div>
    </ul>
    <div class='carousel__pagination-dots'></div>
  </div>
  <div class='stations-carousel__arrow stations-carousel__arrow--right' data-direction='right'>
    {{#if (compare sectionFront 'news')}}
      {{{ read 'components/stations-carousel/media/arrow_news.svg' }}}
    {{else}}
      {{{ read 'components/stations-carousel/media/arrow.svg' }}}
    {{/if}}
  </div>
</div>
