<div
  data-uri="{{ default _ref _self }}"
  data-placeholder="adSize"
  data-ad-position="{{ adPosition }}"
  data-ad-location="{{ adLocation }}"
  class="component component--google-ad-manager google-ad-manager--{{adSize}}"
>
  {{#unless @root.locals.edit}}
    {{#if (compare adSize "outOfPage")}}
      <div
      class="google-ad-manager__slot google-ad-manager__slot--{{adSize}} dfp-tag-wrapper element-hidden"
        id="dfp-ad-takeover_skin_1800x1400_-wrapper_140328957"
        data-adSize="{{adSize}}"
        >
        <div
          id="dfp-ad-takeover_skin_1800x1400__1753383032"
          class="dfp-tag-wrapper dfp-skin"
        />
      </div>
    {{else}}
      <div
        class="google-ad-manager__slot google-ad-manager__slot--{{adSize}}"
        data-adSize="{{adSize}}"
      >
      </div>
    {{/if}}
  {{/unless}}
</div>
{{!-- 970x250, 970x90, 728x90, 300x600, 300x250, 320x50, 100x35 --}}
