<div data-uri="{{ default _ref _self }}" class="component component--alert-banner">
    {{#if _computed.messages.length }}
        <div class="alert-banner">
            {{#each _computed.messages}}
                <div id="alertBanner_{{ id }}" class="alert-banner__message{{#if breaking}} alert-banner__message--breaking{{/if}}">
                    <div class="alert-banner__heading">
                        <div class="alert-banner__indicator">
                            <div class="alert-banner__icon"></div>
                        </div>
                        <div class="alert-banner__close">
                            <div class="alert-banner__close-button"></div>
                        </div>
                    </div>
                    <div class="alert-banner__body">
                        <div class="alert-banner__text">
                            {{#if link}}
                                <a href="{{ link }}" target="_blank">{{ message }}</a>
                            {{else}}
                                {{ message }}
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>
