<button type="button" class="follow {{ if buttonText socialNetwork }}{{#if ./variation}} variation-{{ ./variation }}{{/if}}" data-handle="{{ handle }}" data-uri="{{ default _ref _self }}" aria-label="{{ buttonText }} on {{ capitalize socialNetwork }}">
  <span class="button-text">{{ buttonText }}</span>
</button>
