<div data-uri="{{ default _ref _self }}"
     class="component component--latest-top-recirc-slider latest-top-recirc-slider
       {{ if @root.locals.edit ' editing' }}
       {{#if _computed.articles.length}} {{else}} empty {{/if}}"
     data-editable="items">
    <div class="latest-top-recirc-slider__slider-container">
        <ul class="latest-top-recirc-slider__items-container">
            {{#each _computed.articles }}
                <li class="latest-top-recirc-slider__item-container">
                    <a class="latest-top-recirc-slider__item-link" href="{{ this.canonicalUrl }}">
                        <div class="latest-top-recirc-slider__item-img-container">
                            <img src="{{this.feedImgUrl}}?width=50&crop=1:1,offset-y0" alt="" class="latest-top-recirc-slider__item-img" draggable="false">
                        </div>
                        <div class="latest-top-recirc-slider__item-text">
                            <div class="latest-top-recirc-slider__item-category latest-top-recirc-slider__item-category--{{lowercase this.sectionFront }}">{{this.sectionFront}}</div>
                            <div class="latest-top-recirc-slider__item-title">{{this.primaryHeadline}}</div>
                        </div>
                    </a>
                </li>
            {{/each}}
        </ul>
        <div class="latest-top-recirc-slider__controls-container">
            <div class="latest-top-recirc-slider__control latest-top-recirc-slider__control--left"></div>
            <div class="latest-top-recirc-slider__control latest-top-recirc-slider__control--right"></div>
        </div>
    </div>
</div>
