<aside class="component component--related" data-uri="{{ default _ref _self }}" data-track-type="inline-related" data-editable="inlineRelatedItems">
  {{#ifAny articles.length @root.locals.edit}}
    <ul class="related-links">
      {{#each articles}}
        <li class="related-link">
          <a href="{{ canonicalUrl }}"
             data-track-type="article-link"
             data-track-component-name="related"
             data-track-page-uri="{{ pageUri }}"
             data-track-headline="{{ shortHeadline }}"
             data-track-component-title="{{ ../shortHeadline }}">
            <span class="headline">{{{ shortHeadline }}}</span>
          </a>
        </li>
      {{/each}}
    </ul>
  {{/ifAny}}
</aside>
