<section data-uri="{{ default _ref _self }}" class="component component--directory-featured">
  {{> stations-list recentStations }}
  <div class="directory-featured__stations-by-genre">
    <div class="stations-by-genre__header-row">
      <h2 class="header-row__title">stations by genre</h2>
      <a class="header-row__see-all-link" href="//{{ @root.locals.site.host }}/stations/music">See all {{{ read 'components/directory-featured/media/chevron_right.svg' }}}</a>
    </div>
    <ul class="stations-by-genre__genre-list">
      <li class="genre-list__genre genre--pop">
        <a href="//{{ @root.locals.site.host }}/stations/music/pop">
          <img src="https://s3.amazonaws.com/radioassets/images/brooklyn/Pop.jpg?width=140&height=140&crop=1:1,offset-y0">
          <span class="genre__label">pop</span>
        </a>
      </li>
      <li class="genre-list__genre genre--sports">
        <a href="//{{ @root.locals.site.host }}/stations/music/sports">
          <img src="https://s3.amazonaws.com/radioassets/images/brooklyn/Sports.jpg?width=140&height=140&crop=1:1,offset-y0">
          <span class="genre__label">sports</span>
        </a>
      </li>
      <li class="genre-list__genre genre--country">
        <a href="//{{ @root.locals.site.host }}/stations/music/country">
          <img src="https://s3.amazonaws.com/radioassets/images/brooklyn/Country.jpg?width=140&height=140&crop=1:1,offset-y0">
          <span class="genre__label">country</span>
        </a>
      </li>
      <li class="genre-list__genre genre--hip-hop">
        <a href="//{{ @root.locals.site.host }}/stations/music/hiphop">
          <img src="https://s3.amazonaws.com/radioassets/images/brooklyn/Hip-Hop.jpg?width=140&height=140&crop=1:1,offset-y0">
          <span class="genre__label">hip hop</span>
        </a>
      </li>
      <li class="genre-list__genre genre--news">
        <a href="//{{ @root.locals.site.host }}/stations/music/news-talk">
          <img src="https://s3.amazonaws.com/radioassets/images/brooklyn/News.jpg?width=140&height=140&crop=1:1,offset-y0">
          <span class="genre__label">news</span>
        </a>
      </li>
      <li class="genre-list__genre genre--rock">
        <a href="//{{ @root.locals.site.host }}/stations/music/rock">
          <img src="https://s3.amazonaws.com/radioassets/images/brooklyn/Rock.jpg?width=140&height=140&crop=1:1,offset-y0">
          <span class="genre__label">rock</span>
        </a>
      </li>
      <li class="genre-list__genre genre--alternative">
        <a href="//{{ @root.locals.site.host }}/stations/music/alternative">
          <img src="https://s3.amazonaws.com/radioassets/images/brooklyn/Alternative.jpg?width=140&height=140&crop=1:1,offset-y0">
          <span class="genre__label">alternative</span>
        </a>
      </li>
    </ul>
  </div>
  {{> google-ad-manager googleInlineAd }}
  <div class="directory-featured__stations-by-category" data-category="music">
    {{> stations-list stationsListTruncated }}
  </div>
  {{> google-ad-manager googleInlineAd }}
  <div class="directory-featured__stations-by-category" data-category="news-talk">
    {{> stations-list stationsListTruncated }}
  </div>
  {{> google-ad-manager googleInlineAd }}
  <div class="directory-featured__stations-by-category" data-category="sports">
    {{> stations-list stationsListTruncated }}
  </div>
</section>
