<div data-uri="{{ default _ref _self }}" class="component component--brightcove" data-editable="video">
  <div class="player">
    {{#if videoId}}
      <div class="player__video {{#unless showTitle}}player__video--hidden-title{{/unless}}">
        <video id="video-{{ videoId }}"
               class="video-js"
               data-video-id="{{ videoId }}"
               data-account="{{ @root.locals.site.brightcoveAccountId }}"
               data-player="{{ @root.locals.site.brightcovePlayerId }}"
               data-embed="default"
               data-application-id
               controls></video>
      </div>
    {{/if}}
  </div>
</div>
