<div data-uri="{{ default _ref _self }}" class="component component--brightcove" data-editable="video">
  <div class="player" itemscope itemtype="http://schema.org/VideoObject">
    {{#if videoId}}
      <div class="player__video {{#unless showTitle}}player__video--hidden-title{{/unless}}">
        {{#unless @root.locals.edit}}
          <video-js id="video-{{ videoId }}"
            class="video-js vjs-16-9"
            data-video-id="{{ videoId }}"
            data-account="{{ @root.locals.site.brightcoveAccountId }}"
            data-player="{{ @root.locals.site.brightcovePlayerId }}"
            data-embed="default"
            data-application-id
            controls></video-js>

            <meta itemprop="name" content="{{ name }}">
            <meta itemprop="headline" content="{{ seoHeadline }}">
            <meta itemprop="description" content="{{ seoDescription }}">
            <meta itemprop="thumbnailUrl" content="{{ thumbnailUrl }}">
            <meta itemprop="uploadDate" content="{{ bcCreatedAt }}">
            <meta itemprop="contentUrl" content="{{{ seoContentUrl }}}">
            <meta itemprop="embedUrl" content="{{{ seoEmbedUrl }}}">
            <meta itemprop="duration" content="{{{ duration }}}">

            <div itemprop="interactionStatistic" itemscope itemtype="http://schema.org/InteractionCounter">
              <meta itemprop="interactionType" content="http://schema.org/ViewAction">
              <meta itemprop="userInteractionCount" content="{{ views }}">
            </div>
        {{else}}
          {{! @TODO: ON-38 Show thumbnail from video, get it during save in model.js and store on the component }}
          <div class="kiln-placeholder" style="min-height: 20px; margin-bottom: 20px;">
            <div class="placeholder-label"><span class="placeholder-text">Brightcove Video ID: {{ videoId }}</span></div>
          </div>
        {{/unless}}
      </div>
    {{/if}}
  </div>
</div>

