<div data-uri="{{ default _ref _self }}" class="component component--brightcove" data-editable="video">
  <div class="player">
    {{#if videoId}}
      <div class="player__video {{#unless showTitle}}player__video--hidden-title{{/unless}}">
        {{#unless @root.locals.edit}}
          <video-js id="video-{{ videoId }}"
            class="video-js vjs-16-9"
            data-video-id="{{ videoId }}"
            data-account="{{ @root.locals.site.brightcoveAccountId }}"
            data-player="{{ @root.locals.site.brightcovePlayerId }}"
            data-embed="default"
            data-application-id
            controls></video-js>
        {{else}}
          {{! @TODO: ON-38 Show thumbnail from video, get it during save in model.js and store on the component }}
          <div class="kiln-placeholder" style="min-height: 20px; margin-bottom: 20px;">
            <div class="placeholder-label"><span class="placeholder-text">Brightcove Video ID: {{ videoId }}</span></div>
          </div>
        {{/unless}}
      </div>
    {{/if}}
  </div>
</div>

