<nav class="component component--breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
  <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="{{ @root.locals.site.protocol }}://{{ @root.locals.site.host }}"
       class="breadcrumbs__link breadcrumbs__link--home">{{{ read "components/breadcrumbs/media/radiocom-purple-monogram.svg" }}}<span class="link--home__label" itemprop="name">Home</span></a>
    <meta itemprop="position" content="1" />
  </span>
  {{#each breadcrumbs}}
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="{{if hidden 'hidden'}}">
        <span class="breadcrumbs__separator">/</span>
        <a itemprop="item" href="{{ @root.locals.site.protocol }}:{{ url }}" class="breadcrumbs__link">
          <span itemprop="name">{{ text }}</span>
        </a>
        <meta itemprop="position" content="{{add @index 2}}" />
      </span>
  {{/each}}
</nav>
