<div
  class="component component--station-detail-listen-only-banner station-detail-listen-only-banner"
  data-uri="{{ default _ref _self }}"
  style="background: {{ _computed.styleInfo.gradientStart }}"
>
  <style>
    :root {
      --station-listen-only-gradient-start: {{ _computed.styleInfo.gradientStart }};
      --station-listen-only-gradient-end: {{ _computed.styleInfo.gradientEnd }};
    }
  </style>
  <div
    class="station-detail-listen-only-banner__image-container"
    style="background: url({{ _computed.styleInfo.headerImage }}) no-repeat center top;background-size: cover;"
  ></div>
</div>