<section role="main"
  data-track-type="section"
  data-uri="{{ default _ref _self }}"
  class="component component--section-front{{ if @root.locals.edit ' editing' }}"
  data-station-slug="{{ stationSlug }}">

  {{#if @root.locals.edit }}
    <div class="section-front__settings" data-editable="settings">
      <h1>Section Front Settings:</h1>
      {{#unless stationFront}}
        <span>Is this a primary section front? : {{if primary 'Yes' else='No'}}</span>
      {{/unless}}
      {{#unless primary}}
        <span>Primary section front <span class="warn">*required</span> : {{ primarySectionFront }}</span>
      {{/unless}}
      {{#unless stationFront}}
        <span>Title {{#unless primary}} (Secondary Section Front){{/unless}} <span class="warn">*required</span> : {{ default title 'No Title Set' }}</span>
      {{/unless}}
      {{#if stationFront}}<span>Site Slug <span class="warn">*required</span> : {{ default stationSlug 'No Slug Set' }}</span>{{/if}}
      {{{ if titleLocked '<span class="warn">** Can not change title after page has been published. Unpublish if you need to do so. **</span>' }}}
      <span>Include podcast module? : {{ default includePodcastModule 'False' }}</span>
    </div>
  {{/if}}
  {{> section-lead sectionLead }}
  <div class="stations-carousel-container" data-editable="stationsCarousel">
    {{> component-list stationsCarousel }}
  </div>
  {{> google-ad-manager googleAdUnderStationsModule}}
  {{#if includePodcastModule }}
    {{> podcast-list podcastList }}
  {{/if}}
  {{> two-column-component twoColumnComponent }}
</section>
