<section role="main" data-track-type="section" data-uri="{{ default _ref _self }}" class="component component--section-front{{ if @root.locals.edit ' editing' }}">
  {{#if @root.locals.edit }}
    <div class="section-front__settings" data-editable="settings">
      <h1>Section Front Settings:</h1>
      <span>Title <span class="warn">*required</span> : {{ default title 'No Title Set' }}</span>
      {{{ if titleLocked '<span class="warn">** Can not change title after page has been published. Unpublish if you need to do so. **</span>' }}}
      <span>Include podcast module? : {{ default includePodcastModule 'False' }}</span>
    </div>
  {{/if}}
  {{> section-lead sectionLead }}
  <div class="stations-carousel-container" data-editable="stationsCarousel">
    {{> component-list stationsCarousel }}
  </div>
  {{> google-ad-manager googleAdUnderStationsModule}}
  {{#if includePodcastModule }}
    {{> podcast-list podcastList }}
  {{/if}}
  {{> more-content-feed moreContentFeed }}
</section>
