<div class="component-content-card content-card content-card--event">
  {{> content-card-thumb _self=true }}
  <div class="content-card__info-container">
    <div class="content-card__info-headline">{{ headline }}</div>
    <div class="content-card__info-dateTime">
      <div class="content-card__info-icon content-card__info-icon--date">
        {{{ read "components/content-card/media/icon-time-date.svg" }}}
      </div>
      <div>{{ dateTime }}</div>
    </div>
    <div class="content-card__info-venueName">
      <div class="content-card__info-icon content-card__info-icon--location">
        {{{ read "components/content-card/media/icon-location.svg" }}}
      </div>
      <div>{{ venueName }}</div>
    </div>
  </div>
</div>