<div class="component component--thumb thumb">
  {{#if category}}
    <span class="thumb__{{ category }}">{{{ category }}}</span>
  {{/if}}
  {{#if contentType}}
    <span
        class="thumb__content-type">{{{ contentType }}}</span> {{!-- Still need to figure out how to get the results of this "read" helper inserted --}}
  {{/if}}
  <img {{!-- TODO: consider making a helper for this sort of thing, e.g. {{{ imgSource images.0 }}} --}}
      src="{{ images.0.url }}?width={{images.0.width}}&crop={{images.0.crop}}{{#if images.0.offset}},offset-{{ images.0.offset }}{{/if}}"
      srcset="{{#each images}}
        {{ url }}?width={{ width }}&crop={{ crop }}
          {{#if offset}},offset-{{ offset }}{{/if}} {{ width }}w
          {{#unless @last}},{{/unless}}
      {{/each}}"
  sizes="{{#each images}}
  {{#if maxWidth}}(max-width: {{ maxWidth }}px) {{/if}}{{ width }}px{{#unless @last }},{{/unless}}
{{/each}}"
  class="thumb__image"/>
</div>