{{#if _computed.renderForStation }}
  <div class="component component--station-nav"
    data-uri="{{ default _ref _self }}"
    data-station-id="{{ _computed.station.id }}">
    <nav class="station-nav__fixed-container">
      <div class="station-nav__menu menu">

        {{!-- left side --}}
        <div class="station-nav__menu-left">
          <div class="station-nav__menu-logo-container">
            {{!-- toggles --}}
            <div class="menu__mobile-toggle">
              <button class="mobile-toggle--closed">
                {{{ read 'components/station-nav/media/chevron_down.svg' }}}
              </button>
              <button class="mobile-toggle--open">
                {{{ read 'components/station-nav/media/chevron_up.svg' }}}
              </button>
            </div>
            {{!-- logo --}}
            {{#if (compare stationLogo '===' '') }}
              {{#if @root.locals.edit}}
                <div class="menu__image kiln-placeholder">
                  <div class="placeholder-label">
                    <span class="placeholder-text">Add Station Logo</span>
                  </div>
                </div>
              {{/if}}
            {{ else }}
              <a href="/{{ @root.locals.station.site_slug }}" class="menu__image-anchor">
                <img class="menu__image" src="{{ stationLogo }}&height=200">
              </a>
            {{/if}}
          </div>

          {{#if primaryLinks.length }}
            <ul class="menu__navigation navigation">
              {{#each primaryLinks }}
                <li class="navigation__primary primary primary--label-{{ kebabCase text }} {{ if current 'primary--current' }} {{ if drawer 'primary--drawer-enabled' }}">
                  {{#if url }}
                    <a href="{{ url }}">
                      <button>
                        <span>{{ text }}</span>
                      </button>
                    </a>
                  {{ else }}
                    <button>
                      <span>{{ text }}</span>
                    </button>
                    <div class="menu__triangle"></div>
                  {{/if }}
                </li>
              {{/each }}
            </ul>
          {{/if }}
        </div>{{!-- end left side --}}

        {{!-- right side --}}
        <div class="station-nav__menu-right">
          {{!-- CTA --}}
          <div class="station-nav__menu-right-cta">
            {{#if (compare CTA_Options "===" 'newsletter') }}
              <div class="station-nav__cta station-nav__cta--newsletter">
                <a class="station-nav__cta-link station-nav__cta-link--newsletter" href="{{ CTA_NewsletterUrl }}">
                  <span class="station-nav__cta-link-icon station-nav__cta-link-icon--tel">
                    {{{ read "components/station-nav/media/icon-email.svg" }}}
                  </span>
                  <span class="station-nav__cta-link-text station-nav__cta-link-text--newsletter">
                    Newsletters
                  </span>
                  <span class="station-nav__cta-link-icon station-nav__cta-link-icon--chevron-right">
                    {{{ read "components/station-nav/media/icon-chevron-right.svg" }}}
                  </span>
                </a>
              </div>
            {{/if}}
            {{#if (compare CTA_Options "===" 'contact') }}
              <div class="station-nav__cta station-nav__cta--contact">
                {{#if _computed.CTA_ContactInfoTelephone}}
                  <a class="station-nav__cta-link station-nav__cta-link--tel" href="tel:{{ _computed.CTA_ContactInfoTelephone }}">
                    <span class="station-nav__cta-link-icon station-nav__cta-link-icon--tel">
                      {{{ read "components/station-nav/media/icon-tel.svg" }}}
                    </span>
                    <span class="station-nav__cta-link-text station-nav__cta-link-text--tel">{{ _computed.CTA_ContactInfoTelephone }}</span>
                  </a>
                {{/if}}
                {{#if CTA_ContactInfoSms}}
                  <a class="station-nav__cta-link" href="sms:{{ CTA_ContactInfoSms }}">
                    <span class="station-nav__cta-link-icon station-nav__cta-link-icon--sms">
                      {{{ read "components/station-nav/media/icon-sms.svg" }}}
                    </span>
                    <span class="station-nav__cta-link-text station-nav__cta-link-sms">{{ CTA_ContactInfoSms }}</span>
                  </a>
                {{/if}}
              </div>
            {{/if}}
          </div>{{!-- end CTA --}}

          <div class="station-nav__menu-right-listen">
            <div class="menu__listen listen">
              <button class="listen__button button {{ _computed.playingClass }}" data-play-station="{{ _computed.station.id }}">
                <div class="button__icon">
                  {{!-- stays static --}}
                  {{{ read 'components/station-nav/media/play_button.svg' }}}
                </div>
                <div class="button__text">listen</div>
              </button>
            </div>

            <div class="menu__listen-toggle">
              <button class="listen-toggle--closed">
                {{{ read 'components/station-nav/media/chevron_down.svg' }}}
              </button>
              <button class="listen-toggle--open">
                {{{ read 'components/station-nav/media/chevron_up.svg' }}}
              </button>
              <div class="menu__triangle"></div>
            </div>
          </div>
        </div>{{!-- end right side --}}

      </div>
      <div class="station_nav__drawers drawers">
        {{#each primaryLinks }}
          {{#ifAll drawer secondaryLinks.length }}
            <ul class="drawers__drawer drawer drawer--desktop drawer--{{ kebabCase text }}">
              {{#each secondaryLinks }}
                <li class="drawer__item item--{{ kebabCase text }}">
                  <a href="{{ url }}">
                    <span>{{ text }}</span>
                  </a>
                </li>
              {{/each }}
            </ul>
          {{/ifAll }}
        {{/each }}

        {{#if primaryLinks.length }}
          <ul class="drawers__drawer drawer drawer--mobile">
            {{#each primaryLinks }}
              <li class="drawer__item item item--{{ kebabCase text }}">
                <div class="item__label label">
                  {{#ifAll drawer secondaryLinks.length }}
                  <a href="{{ url }}">
                    <button>
                      <span>{{ text }}</span>
                    </button>
                  </a>
                  <div class="label__menu-toggle">
                    <button class="menu-toggle--closed">
                      {{{ read 'components/station-nav/media/chevron_down.svg' }}}
                    </button>
                    <button class="menu-toggle--open">
                      {{{ read 'components/station-nav/media/chevron_up.svg' }}}
                    </button>
                  </div>
                  {{else }}
                  <a href="{{ url }}">
                    <button>
                      <span>{{ text }}</span>
                    </button>
                  </a>
                  {{/ifAll }}
                </div>
                {{#if secondaryLinks.length }}
                  <ul>
                    {{#each secondaryLinks }}
                      <li>
                        <a href="{{ url }}">
                          <button>
                            <span>{{ text }}</span>
                          </button>
                        </a>
                      </li>
                    {{/each }}
                  </ul>
                {{/if }}
              </li>
            {{/each }}
          </ul>
        {{/if }}

        <div class="drawers__drawer drawer drawer--listen">
          {{> station-listen-nav listenNav }}
        </div>
      </div>
    </nav>
  </div>
{{else}}
  <!-- station-nav component not rendered '{{ default _ref _self }}' -->
{{/if}}
