<!-- data-uri="{{ default _ref _self }}" -->
{{#if @root.locals.edit}}
  <title>Editing: Dynamic Page</title>
{{ else }}
  <title>{{ _computed.title }}</title>
{{/if}}
<meta property="og:title" content="{{ _computed.metaTitle }}">
<meta name="twitter:title" content="{{ _computed.metaTitle }}">
