{{#if videoId}}
  {{! this is copied from portal.aolonnetwork.com via generated embed script }}
  <div
    id="{{ @root.locals.site.verizonMediaPlayerId }}"
    class="vdb_player vdb_{{ @root.locals.site.verizonMediaPlayerId }}{{ @root.locals.site.verizonMediaCompanyId }}"
  >
    <script
      type="text/javascript"
      src="https://delivery.vidible.tv/jsonp/pid={{ @root.locals.site.verizonMediaPlayerId }}/vid={{ videoId }}/{{ @root.locals.site.verizonMediaCompanyId }}.js?"
    ></script>
  </div>
{{/if}}
