<section data-uri="{{ default _ref _self }}"
  class="component component--section-lead{{ if @root.locals.edit ' editing' }}
  {{ _computed.mcModifier }} {{ _computed.rdcSectionFrontModifier }}"
>
  <div class="section-lead__articles" data-editable="settings">
    {{#if _computed.articles.length}}
      {{#each _computed.articles as |article|}}
        <div class="section-lead__article {{#unless @index}}section-lead__article--first{{/unless}}">
          <a href="{{ article.canonicalUrl }}" class="section-lead__link">
            <picture class="section-lead__image">
              {{ set 'sizes' (if @index ../_computed.storySizes else=../_computed.primaryStorySizes) }}
              {{ set 'params' (if @index ../_computed.storySizeParams else=../_computed.primaryStorySizeParams) }}
              {{#each sizes}}
                <source media="({{ media }})" srcset="{{ sanitizeURI ../feedImgUrl }}?{{ srcParams }}"/>
              {{/each}}
              <img src="{{ feedImgUrl }}?{{ params }}"/>
              <div class="image__hover-overlay"></div>
            </picture>
            <div class="section-lead__details">
              {{#if ../_computed.useContentLabel}}
                <span class="details__content-label details__content-label--top">
                  {{ default article.curatedOverride article.label }}
                  <span class="details__time">{{ timeAgoTimestamp article.date }}</span>
                </span>
              {{/if}}
              {{#unless @index}}
                {{#unless ../_computed.useContentLabel}}
                  {{ set 'label' (default ../primaryStoryLabel article.label) }}
                  <span class="details__primary-story-label">{{ default article.curatedOverride label }}</span>
                {{/unless}}
              {{/unless}}
              <h3 class="details__title">{{ article.primaryHeadline }}</h3>
              {{#if ../_computed.useContentLabel}}
                <span class="details__content-label details__content-label--bottom">
                  {{ default article.curatedOverride article.label }}
                  <span class="details__time">{{ timeAgoTimestamp article.date }}</span>
                </span>
              {{/if}}
            </div>
          </a>
        </div>
      {{/each}}
    {{else}}
      {{#if @root.locals.edit}}
        <div class="kiln-placeholder">
          <div class="placeholder-label">
            <span class="ui-icon placeholder-icon material-icons add">add</span> <span class="placeholder-text">Lede Story(s)</span>
            <div class="ui-ripple-ink"></div>
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
  {{#unless _computed.hideAdRailRight}}
    {{> google-ad-manager googleAdRightRail}}
  {{/unless}}
</section>
