<section data-uri="{{ default _ref _self }}" class="component component--section-lead{{ if @root.locals.edit ' editing' }}" data-section="{{ sectionFront }}">
  <div class="section-lead__articles">
    {{#each articles as |article|}}
      <div class="section-lead__article {{#unless @index}}section-lead__article--first{{/unless}}">
        <a href="{{ article.canonicalUrl }}" class="section-lead__link">
          {{#if @index}}
            <picture class="section-lead__image">
              <source media="(max-width: 480px)" srcset="{{ feedImgUrl }}?width=440&crop=16:9,smart" />
              <source media="(max-width: 1023px)" srcset="{{ feedImgUrl }}?width=343&crop=16:9,smart" />
              <source media="(max-width: 1279px)" srcset="{{ feedImgUrl }}?width=124&crop=1:1,smart" />
              <source media="(min-width: 1280px)" srcset="{{ feedImgUrl }}?width=220&crop=16:9,smart" />
              <img src="{{ feedImgUrl }}?width=220&crop=16:9,smart" />
            </picture>
          {{else}}
            <img
              src="{{ feedImgUrl }}?width=780&crop=16:9,smart"
              srcset="{{ feedImgUrl }}?width=620&crop=16:9,smart 620w,
                {{ feedImgUrl }}?width=706&crop=16:9,smart 706w,
                {{ feedImgUrl }}?width=480&crop=16:9,smart 480w"
              sizes="(max-width: 480px) 100vw, (max-width: 1023px) 80vw, (max-width: 1279px) 620px, 780px"
              class="section-lead__image" />
          {{/if}}
          <div class="section-lead__details">
            {{#unless @index}}
              <span class="details__exclusive">Exclusive</span>
            {{/unless}}
            <h3 class="details__title">{{ article.primaryHeadline }}</h3>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
  {{> google-ad-manager googleAdRightRail}}
</section>
