<section class="package-list" data-uri="{{ default _ref _self }}" data-track-type="article-list">
  <h2 class="package-list-title">{{ title }}</h2>
  {{#if articles}}
    <ul class="package-list-items">
      {{#each articles}}
        <li class="package-list-item"
          data-track-type="article-link"
          data-track-component-name="package-list"
          data-track-page-uri="{{ pageUri }}"
          data-track-headline="{{ plaintextPrimaryHeadline }}"
          data-track-index="{{ @index }}"
          data-track-component-title="{{ title }}">
          <a class="package-list-item-link" href="{{ canonicalUrl }}">
            <span class="headline">
              {{{ primaryHeadline }}}
            </span>
          </a>
        </li>
      {{/each}}
    </ul>
    {{#if hasMore}}
      {{ set 'encodedTag' (replace (urlencode (replace (trim (lowercase tag)) ' ' '-')) "%2F" "/") }}
      <a class="see-all-link"
        href="{{#if seeAllLink}}{{seeAllLink}}{{else}}//{{@root.locals.site.host}}/tags/{{ encodedTag }}{{/if}}">
        See All
      </a>
    {{/if}}
  {{/if}}
</section>
