{{#*inline "item" }}
  <a class="podcast-trending--item-link" href="{{ url }}">
    <div class="podcast-trending--item-thumb">
      <img class="podcast-trending--thumb-img" src="{{ imageUrl }}" alt="{{ title }}">
    </div>
    <div class="podcast-trending--item-info">
      <div class="podcast-trending--info-title">{{ title }}</div>
      <div class="podcast-trending--info-description">{{ description }}</div>
    </div>
  </a>
{{/inline}}

<div class="component component--podcast-trending podcast-trending" data-uri="{{ default _ref _self }}" data-editable="curatedItems">
  <div class="podcast-trending--title">Trending Podcasts</div>
  <ul class="podcast-trending--list-container">
    {{#each _computed.items as |podcast|}}
      <li class="podcast-trending--list-item">
        {{> item podcast }}
      </li>
    {{/each}}
  </ul>
</div>
