<header
  data-uri="{{ default _ref _self }}"
  class="component component--tag-page-header tag-page-header--{{tag}} {{ if @root.locals.edit ' editing' }}">
  <div class="tag-page-header--banner{{if image '__image'}}">
    {{#if image}}
      <div class="image--container">
        <div class="image--container__gradient"></div>
        <img src="{{ image }}">
      </div>
    {{/if}}
    <h1>{{tag}}</h1>
  </div>
</header>
