<header
  data-uri="{{ default _ref _self }}"
  class="component component--tag-page-header tag-page-header--{{tag}}
    {{ if @root.locals.edit ' editing' }}
    {{ if image ' tag-page-header--image'}}
  "
  {{#if image}}
    style="background-image:url({{ image }});"
  {{/if}}
  data-editable="tagHeaderSettings"
>
  <div class="tag-page-header__tag">
    <div class="tag__line"></div>
    <h1>{{tag}}</h1>
  </div>
</header>
