<div data-uri="{{ default _ref self }}" data-editable="text" class="component component--html-embed{{if @root.locals.edit " edit"}}">
  {{#unless @root.locals.edit}}
    {{#if isIframe}}
      <div class="html-embed__iframe-container">
        <div class="iframe-container__padded-container">
          {{{ text }}}
        </div>
      </div>
    {{else}}
      {{{ text }}}
    {{/if}}
  {{else}}
    <div class="html-embed__preview kiln-placeholder">
      <div>
        <span>Embedded HTML</span>
      </div>
      {{#if text}}<pre>{{ substring text 0 500 }}</pre>{{/if}}
    </div>
  {{/unless}}
</div>
