<section data-uri="{{ default _ref _self }}" role="search" class="search" data-placeholder-text="{{ searchtext }}">
  {{ set 'queryID' (randomString 'searchQuery_') }}
  <form class="search-form" name="search" method="get" action="{{ default searchURL 'http://nymag.com/search.html' }}">
    <label for="{{ queryID }}" class="search-query-label">Search</label>
    <input type="text" id="{{ queryID }}" name="q" class="search-query" placeholder="{{ searchtext }}" />

    <button class="close-button" type="button" aria-label="Close">
      {{{ read 'public/media/components/search/close.svg' }}}
    </button>

    <button class="submit-button" type="submit" aria-label="Search">
      {{{ read 'public/media/components/search/search.svg' }}}
    </button>
  </form>

  <button class="expand-button" type="button" aria-label="Search">
    {{{ read 'public/media/components/search/search.svg' }}}
  </button>
</section>
