{{#ifAny @root.locals.edit giphyUrlValid}}
<figure data-uri="{{ default _ref _self }}" class="giphy" data-editable="url">
  {{#unless giphyUrlValid}}
    <div data-placeholder="giphyUrlValid"></div>
  {{/unless}}

  {{#ifAll url giphyUrlValid}}
    {{#unless @root.locals.edit}}
    <!--
    {{/unless}}
      <video class="giphy-embed" src="{{ videoLinkMobile }}" data-desktop-src="{{ videoLinkDesktop }}" poster="{{ imgLinkMobile }}" data-desktop-poster="{{ imgLinkDesktop }}" loop autoplay muted playsinline></video>
      <button type="button" class="overlay-button overlay-button-hide" aria-label="Toggle gif play">{{{ read 'public/media/components/giphy/play.svg' }}}</button>
      <figcaption class="giphy-sources">
      {{#if author}}
        <a href="{{ url }}"> {{ author }}/via GIPHY</a>
      {{else}}
        <a href="{{ url }}">via GIPHY</a>
      {{/if}}
      </figcaption>
    {{#unless @root.locals.edit}}
    -->
    {{/unless}}
  {{/ifAll}}
</figure>
{{/ifAny}}
