<div data-uri="{{ default _ref _self }}" class="component component--station-schedule">
  <div class="station-schedule__day-of-week">
    <select class="day-of-week__select"
            data-station-id="{{ station.id }}"
            data-gmt-offset="{{ station.gmt_offset }}"
            data-category="{{ station.category }}"></select>
  </div>
  <ul class="station-schedule">
    {{#each schedule}}
      <li>
        <div class="station-schedule__show">
          {{#if playing}}
          <div data-play-station="{{ ../station.id }}" data-ire={{ @root.locals.station.interactive }} class="show__link">
          {{/if}}
          <img src="{{ image }}?width=101&height=101&crop=1:1,offset-y0" class="show__image"
            onerror="this.onerror=null; this.src='/media/components/station-schedule/fallback.svg';"/>
          <div class="show__details">
            <div class="details__time
                {{if playing (concat "details__time--on-air " ../station.category)}}">
              {{#if playing}}
                ON-AIR
              {{else}}
                {{ userLocalDate start_time 'h:mm a' }}
                to
                {{ userLocalDate end_time 'h:mm a z' }}
              {{/if}}
            </div>
            <div class="details__title">{{ name }}</div>
          </div>
          {{#if playing}}
          </div>
            <div data-play-station="{{ ../station.id }}" data-ire={{ @root.locals.station.interactive }} class="show__play"></div>
          {{/if}}
        </div>
      </li>
    {{else}}
      <li class="station-schedule__no-results">No results.</li>
    {{/each}}
  </ul>
</div>
