<div class="component component--station-schedule">
  <select class="station-schedule__select">
  </select>
  <ul>
    {{#each schedule}}
      <li>
        <a href="{{ site_url }}" class="station-schedule__show">
          <img src="{{ image }}" class="show__image" />
          <div class="show__details">
            <div class="details__time">{{ display_schedule }}  {{start_time}}</div>
            <div class="details__title">{{ name }}</div>
          </div>
          <div class="show__play"></div>
        </a>
      </li>
    {{/each}}
  </ul>
</div>
