<div data-uri="{{ default _ref _self }}" class="component component--station-schedule">
  <div class="station-schedule__day-of-week">
    <select class="day-of-week__select" data-station-id="{{ @root.locals.station.id }}" data-gmt-offset="{{ @root.locals.station.gmt_offset }}"></select>
  </div>
  <ul class="station-schedule">
    {{#each schedule}}
      <li>
        <div class="station-schedule__show">
          {{#if playing}}
          <a href="{{ site_url }}" class="show__link">
          {{/if}}
          <img src="{{ image }}?width=101&height=101&crop=1:1,offset-y0" class="show__image"/>
          <div class="show__details">
            <div class="details__time
                {{if playing (concat "details__time--on-air " (lowercase @root.locals.station.category))}}">
              {{#if playing}}
                ON-AIR
              {{else}}
                {{ formatLocalDate start_time 'h:mm a' }} to {{ formatLocalDate end_time 'h:mm a' }}
              {{/if}}
            </div>
            <div class="details__title">{{ name }}</div>
          </div>
          {{#if playing}}
          </a>
            <a href="{{ site_url }}" class="show__play"></a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ul>
</div>
